<app-header></app-header>
<app-pagehero
type="plain"
imgName="explainedhero.jpg"
[diamonds]="true"
>
<h1 class="text-4xl md:text-6xl font-light dark:text-white">E-Collecting kurz <span class="text-4xl md:text-6xl font-bold">erklärt</span></h1>
<h2 class="text-xl dark:text-white">Mollit nostrud pariatur ea ea nulla qui amet fugiat dolore adipisicing nostrud ut.</h2>

<div class="flex grid grid-cols-1 md:grid-cols-2 mx-auto max-w-screen-xl gap-x-20 ">


<app-textblock

type="owlly"
text="E-Collecting beschreibt das digitale und rechtsgültige (!) unterschreiben von Volksbegehren wie Initiativen und Referenden. Was heute noch Stift, Papier, Drucker, Couvert und Briefmarke benötigt wäre digital auch viel effizienter und alltagstauglicher machbar. E-Collecting unterscheidet sich zu existierenden Plattformen für Online-Petitionen in ihrer Rechtsgültigkeit und erhält dadurch echte demokratische Legitimation und einen direkten Einfluss auf die Politik.

Das sichere Sammeln von Unterschriften ist heute alles andere als eine Utopie. Forschung und Praxis zeigen, dass E-Collecting technisch umsetzbar ist und selbst hohen Ansprüchen genügen kann. Hinter E-Collecting steckt allerdings mehr als nur die geeignete Technologie. Es muss zugleich als sozio-politisches Unterfangen verstanden werden, denn hinter der Einführung von E-Collecting stecken auch gesellschaftliche und politische Hürden.
"
>
</app-textblock>

<div class="h-1/2 p-6">
    <app-card
    title="Wie sieht E-Collecting aus?"
    text="Schau dir den Ablauf des Unterschreibens an einem “Dummy” an!"
    [showButton]="true"
    buttonText="mehr"
    type="owlly"
    link="https://www.figma.com/proto/FM2r6jd2S06V3GjEV2pTmb/Prototyp_3_final?node-id=328%3A0&scaling=scale-down"
    >
    </app-card>
    </div>

<app-textblock
title="Viele Vorteile für Alle"
type="owlly"
text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
>
</app-textblock>

<app-textblock
title="Community"
type="owlly"
text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
>
</app-textblock>




</div>

<app-footer></app-footer>
</app-pagehero>