<footer class="bg-white dark:bg-black">
  <div class="container mx-auto max-w-screen-lg px-6 pt-10 pb-6">
    <div class="flex flex-wrap">
      <div class="w-full md:w-2/3 sm:flex items-center">
        <img src="./assets/prototypefund.svg" alt="Prototype Fund Logo" id="prototypefundLogo" class="w-1/4 max-h-20 mr-8 mb-8 sm:mb-0" />
        <p>
          Das Projekt owlly wird unterstützt vom Prototype Fund, eine gemeinsame Initiative von Opendata.ch und des Programms „Digitalisierung + Gesellschaft“
          der Stiftung Mercator Schweiz.
        </p>
      </div>
      <div class="w-full md:w-1/3 md:flex md:flex-col text-center md:text-right md:justify-between py-2 mt-8 md:mt-0">
        <a href="/impressum" class="text-tertiary no-underline hover:underline">Impressum</a>
        <p>© 2020 liitu gmbh</p>
      </div>
    </div>
  </div>
</footer>
