<nav class="relative shadow-xl" style="background-color: white">
    <div class=" flex items-center justify-between p-6">
      <div>
      <img src="../../../../assets/logo/owlly-light.png" width="100px" alt="">
      </div>
      <div class="space-x-6 hidden md:block">
        <a class="text-lg hover:text-yellow-400 dark:text-white transition" href="/" name="support">Owlly</a>
      </div>
      <div class="md:hidden block">
        <a class="text-lg hover:text-yellow-400 dark:text-white transition" href="javascript:void(0)" name="mobile" (click)="openMobileNav()"
          ><fa-icon [icon]="faBars"></fa-icon
        ></a>
      </div>
    </div>
  </nav>