<nav class="bg-white dark:bg-black relative shadow-xl">
    <div class="container flex items-center justify-between mx-auto max-w-screen-xl px-6 py-2 text-left">
      <a href="/" aria-label="Owlly" class="no-underline" name="home">
        <ng-container *ngIf="theme$ | async as theme">
          <img [src]="'./assets/logo/owlly-' + theme + '.png'" loading="lazy" aria-label="hidden" width="150px" />
        </ng-container>
      </a>
  
      <div class="space-x-6 hidden md:block" *ngIf="!hideNav">
        <a class="text-lg hover:text-gray-300 text-gray-300 dark:text-white transition" href="javascript:void(0)" name="start campaign">Kampagne starten</a>
        <a class="text-lg hover:text-yellow-400 dark:text-white transition" href="/support" name="support">E-Collecting fördern</a>
        <a class="text-lg hover:text-yellow-400 dark:text-white transition" href="/aboutus" name="about us">Über uns</a>
      </div>
      <div class="md:hidden block" *ngIf="!hideNav">
        <a class="text-lg hover:text-yellow-400 dark:text-white transition" href="javascript:void(0)" name="mobile" (click)="openMobileNav()"
          ><fa-icon [icon]="faBars"></fa-icon
        ></a>
      </div>
    </div>
  </nav>