<app-header></app-header>

<app-pagehero
type="admin"
imgName="adobe/admin.jpeg"
[diamonds]="true"
iconName="../../../../assets/admin_icon.svg"
>
<h1 class="text-4xl md:text-6xl font-light dark:text-white">E-Collecting fördern</h1>
<h1 class="text-4xl md:text-6xl font-bold dark:text-white">Verwaltung</h1>
<h2 class="text-xl dark:text-white">Die Verwaltung spielt eine Schlüsselrolle in der erfolgreichen Einführung von E-Collecting. Owlly bietet perönliche Unterstützung.</h2>

<div class="flex grid grid-cols-1 md:grid-cols-2 mx-auto max-w-screen-xl gap-x-20 ">

    <div class="">
<app-textblock
title="Politische Legitimation"
type="admin"
text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
>
</app-textblock>

<app-textblock
title="Ganzheitliche Lösungen"
type="admin"
text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
>
</app-textblock>

<app-textblock
title="Technisches Produkt"
type="admin"
text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
>
</app-textblock>

</div>

<div class="h-1/3 p-6">
<app-card
title="Ein CTA?"
text="Deserunt aliquip dolor amet aute esse sunt ex quis id nulla irure aute mollit est."
class="h-20 p-6"
[showButton]="true"
buttonText="mehr"
type="admin"
>
</app-card>
</div>


</div>

<app-footer></app-footer>

</app-pagehero>