<app-header></app-header>

<app-pagehero type="citizen" imgName="people-2" [diamonds]="true" iconName="../../../../assets/citizen_icon.svg">
  <h1 class="text-4xl md:text-6xl font-light dark:text-white">E-Collecting fördern</h1>
  <h1 class="text-4xl md:text-6xl font-bold dark:text-white">Bürger/in</h1>
  <h2 class="text-xl dark:text-white">Vorteile und Handlungsansätze für die Bevölkerung. Eine Stärkung der Demokratie.</h2>

  <div class="flex grid grid-cols-1 md:grid-cols-2 mx-auto max-w-screen-xl gap-6">
    <app-textblock title="Vorteile" type="citizen">
      <ul class="text-xl font-light dark:text-white pl-6">
        <li class="py-2">Das Unterschrieben von Volksbegehren ist ganz einfach und digital möglich (anstatt mit Drucker, Papier, Stift, Couvert, …)</li>
        <li class="py-2">
          BürgerInnen erhalten eine zusätzliche Möglichkeit sich sachlich über Volksbegehren zu informieren, nach ihrem Interesse und Tempo (anstatt die Hektik
          bei Sammelaktionen im öffentlichen Raum)
        </li>
        <li class="py-2">
          Systematisch ausgeschlossene erhalten einen besseren Zugang (Auslandschweizer, Leute mit Behinderung, Leute die weniger an öffentlichen Plätzen sind
          wie z.B. AutofahrerInnen, ...)
        </li>
        <li class="py-2">Eigene Anliegen können einfacher an Freunde und Bekannte weitergeleitet werden</li>
      </ul>
    </app-textblock>

    <app-card
      title="Stelle deine Frage"
      text="Hast du Fragen? Besuche unsere FAQs oder stelle deine Frage hier."
      class="pt-12 px-6"
      [showButton]="true"
      buttonText="Frage stellen"
      type="citizen"
      (click)="showInquiry()"
    >
    </app-card>
    <app-textblock
      title="Öffentlichkeit sensibilisieren"
      type="citizen"
      text="E-Collecting ist mehr als eine Technologie. Es kann nur erfolgreich eingeführt werden, indem es auf einen starken Rückhalt in der Bevölkerung stösst, welche aber noch weitgehend fehlt. Das ist größtenteils darauf zurückzuführen, dass E-Collecting kaum bekannt ist. Als BürgerIn kannst du mitwirken, dass E-Collecting populärer wird. Dazu braucht es öffentliche aber auch gerade private Diskussionen im kleinen Rahmen."
    >
    </app-textblock>
    <app-card
      title="Testperson werden und mitgestalten"
      text="Das Feedback der Bevölkerung ist für uns enorm wichtig. Als Testperson erhältst du ab und an Einblicke in unsere Arbeit und prägst E-Collecting in der Schweiz entscheidend mit. Melde dich jetzt ohne Verpflichtung an."
      class="pt-12 px-6"
      [showButton]="true"
      buttonText="Testperson werden"
      type="citizen"
      (click)="showNewsletter()"
    >
    </app-card>
    <app-textblock
      title="In einer Pro-Organisation tätig werden"
      type="citizen"
      text="Diverse Organisationen setzten sich für E-Collecting ein. Sie tun dies in ganz unterschiedlicher Weise und über verschiedene Wege. Über dein Interesse und deine Bereitschaft zur Mitwirkung freuen sich sicher alle dieser Organisationen."
    >
    </app-textblock>

    <app-card
      title="Owlly-Ambassador werden"
      text="Bist du ein E-Collecting Geek, Early-Adapter oder enthusiastischer E-Collecting Verfechter? Dann könnte dir die Rolle als owlly-Ambassador zusagen."
      class="pt-12 px-6"
      [showButton]="false"
      buttonText="mehr"
      type="citizen"
    >
    </app-card>
  </div>

  <app-footer></app-footer>
</app-pagehero>
