.underline {
    height: 2px;
    width: 100%;
  }

.owlly {
    background: var(--owlly-linear-gradient);
}
.admin {
    background: var(--color-secondary);
}
.campaigner {
    background: var(--color-primary);
}
.citizen {
    background: var(--color-tertiary);
}