<div class="fixed bg-white dark:bg-black top-0 left-0 transition-all z-40" style="height: 100%; width: 100%; transform: translateX(100%)" id="mobileNav">
  <a class="text-lg text-right dark:text-white block hover:text-yellow-400 p-6 transition" href="javascript:void(0)" (click)="closeMobileNav()"
    ><fa-icon [icon]="faTimesCircle"></fa-icon
  ></a>
  <div class="relative block flex flex-col mt-20 p-12" *ngIf="!hideNav">
    <div class="table w-full">
      <div class="table-row-group">
        <div class="table-row">
          <div class="table-cell py-6">
            <a class="text-2xl dark:text-white hover:text-yellow-400 transition" href="/home">Kampagne starten </a>
          </div>
          <div class="table-cell items-center dark:text-white">
            <fa-icon [icon]="faPlayCircle"></fa-icon>
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell py-6">
            <a class="text-2xl dark:text-white hover:text-yellow-400 transition" href="/solutions">Unser Angebot</a>
          </div>
          <div class="table-cell dark:text-white">
            <fa-icon [icon]="faCubes"></fa-icon>
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell py-6">
            <a class="text-2xl dark:text-white hover:text-yellow-400 transition" href="/ourmission">Über uns</a>
          </div>
          <div class="table-cell dark:text-white">
            <fa-icon [icon]="faUsers"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="bg-white dark:bg-black relative">
  <div class="container flex items-center justify-between mx-auto max-w-screen-xl px-6 py-2 text-left">
    <a href="/" aria-label="Owlly" class="no-underline">
      <ng-container *ngIf="theme$ | async as theme">
        <img [src]="'./assets/logo/owlly-' + theme + '.png'" loading="lazy" aria-label="hidden" width="150px" />
      </ng-container>
    </a>
    
    <div class="space-x-6 hidden md:block" *ngIf="!hideNav">
      <a class="text-lg hover:text-yellow-400 dark:text-white transition" href="/home">Kampagne starten</a>
      <a class="text-lg hover:text-yellow-400 dark:text-white transition" href="/solutions">Unser Angebot</a>
      <a class="text-lg hover:text-yellow-400 dark:text-white transition" href="/ourmission">Über uns</a>
    </div>
    <div class="md:hidden block" *ngIf="!hideNav">
      <a class="text-lg hover:text-yellow-400 dark:text-white transition" href="javascript:void(0)" (click)="openMobileNav()"><fa-icon [icon]="faBars"></fa-icon></a>
  </div>
  </div>
</nav>
