<nav class="relative shadow-xl bg-white dark:bg-black">
    <div class=" flex items-center justify-between p-6">
      <div>
        <a href="/" aria-label="Owlly" class="no-underline" name="home">
          <ng-container *ngIf="theme$ | async as theme">
            <img [src]="'./assets/logo/owlly-' + theme + '.png'" loading="lazy" aria-label="hidden" width="120px" />
          </ng-container>
        </a>
      </div>
      <div class="space-x-6 hidden md:block">
        <a class="text-lg hover:text-yellow-400 dark:text-white transition" href="/" name="support">Owlly</a>
      </div>
      <div class="md:hidden block">
        <a class="text-lg hover:text-yellow-400 dark:text-white transition" href="javascript:void(0)" name="mobile" (click)="openMobileNav()"
          ><fa-icon [icon]="faBars"></fa-icon
        ></a>
      </div>
    </div>
  </nav>
