<app-header></app-header>

<app-pagehero type="plain" title="Data Policy" imgName="webp/laptop-1.webp" [diamonds]="true">
  <app-textblock
    type="owlly"
    text="He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured. Some people have an ability to write placeholder text... It's an art you're basically born with. You either have it or you don't. We are going to make placeholder text great again. Greater than ever before. All of the words in Lorem Ipsum have flirted with me - consciously or unconsciously. That's to be expected. You could see there was text coming out of her eyes, text coming out of her wherever.

This placeholder text is gonna be HUGE. The best taco bowls are made in Trump Tower Grill. I love Hispanics!

Trump Ipsum is calling for a total and complete shutdown of Muslim text entering your website. An 'extremely credible source' has called my office and told me that Lorem Ipsum's birth certificate is a fraud. He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured. I write the best placeholder text, and I'm the biggest developer on the web by far... While that's mock-ups and this is politics, are they really so different?

Look at these words. Are they small words? And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee. I was going to say something extremely rough to Lorem Ipsum, to its family, and I said to myself, 'I can't do it. I just can't do it. It's inappropriate. It's not nice.' We are going to make placeholder text great again. Greater than ever before.

An ‘extremely credible source’ has called my office and told me that Barack Obama’s placeholder text is a fraud. Lorem Ipsum's father was with Lee Harvey Oswald prior to Oswald's being, you know, shot. I think the only card she has is the Lorem card."
  ></app-textblock>

  <app-footer></app-footer>
</app-pagehero>
