<app-header></app-header>

<app-pagehero imgName="smartphone-2-1920" type="plain" [diamonds]="true">
  <!-- Title -->
  <h1 class="text-4xl md:text-6xl font-light dark:text-white">News aus der</h1>
  <h1 class="text-4xl md:text-6xl font-bold dark:text-white">E-Collecting-Welt</h1>
  <!-- Subtitle -->
  <h2 class="text-xl dark:text-white">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
  </h2>

  <ng-container *ngIf="blogPosts$ | async as blogPosts">
    <div class="mx-auto max-w-screen-xl p-6">
      <app-newscard
        text="{{ blogPosts[0].title }}"
        link="{{ blogPosts[0].route }}"
        date="{{ blogPosts[0].date }}"
        imgName="{{ blogPosts[0].image }}"
        [showButton]="true"
        buttonText="weiterlesen"
      ></app-newscard>
    </div>
  </ng-container>

  <div class="flex grid grid-cols-1 md:grid-cols-2 mx-auto max-w-screen-xl p-6 gap-12">
    <ng-container *ngFor="let blog of blogPosts$ | async; index as i; first as isFirst">
      <app-newscard
        *ngIf="!isFirst"
        text="{{ blog.title }}"
        date="{{ blog.date }}"
        imgName="{{ blog.image }}"
        link="{{ blog.route }}"
        [showButton]="true"
        buttonText="weiterlesen"
      ></app-newscard>
    </ng-container>
  </div>

  <div style="height: 300px" class="block md:hidden"></div>

  <app-footer></app-footer>
</app-pagehero>
