<app-header [hideNav]="true"></app-header>

<main class="dark:bg-black">
  <div class="container mx-auto max-w-screen-xl">
    <ng-container *ngIf="userData$ | async as userData; else loadingUser">
      <app-textblock title="Vielen Dank, {{ userData?.given_name }}." text="" type="owlly"></app-textblock>
    </ng-container>

    <ng-container *ngIf="pdf$ | async as pdf; else loadingPdf">
      <p *ngIf="pdf.url === undefined" class="font-light text-2xl px-6 dark:text-white">
        Die PDF Generierung hat nicht geklappt. Versuche es nochmals von vorne 🤔
      </p>
      <ng-container *ngIf="userData$ | async as userData" class="px-6">
        <ng-container *ngIf="pdf.url !== undefined">
          <div class="font-light text-2xl dark:text-white px-6">
            Wir haben von Dir alle erforderlichen Informationen erhalten und deinen persönlichen Unterschriftenbogen erstellt!
          </div>

          <div class="mx-auto max-w-screen-xl px-6 pt-6 text-center md:text-left">
            <p class="font-bold text-2xl dark:text-white">Das sind die nächsten Schritte</p>
            <div class="table table-auto">
              <div class="table-row-group">
                <div class="table-row">
                  <div class="table-cell align-middle px-2">
                    <svg width="5" height="5">
                      <rect width="5" height="5" style="fill: #00813a" />
                    </svg>
                  </div>
                  <div class="table-cell text-left dark:text-white font-light text-2xl">Bogen mit der eID+ erstellen</div>
                </div>
                <div class="table-row">
                  <div class="table-cell align-middle px-2">
                    <svg width="5" height="5">
                      <rect width="5" height="5" style="fill: #fdc600" />
                    </svg>
                  </div>
                  <div class="table-cell text-left dark:text-white font-light text-2xl">Bogen mit eID+ signieren</div>
                </div>
                <div class="table-row">
                  <div class="table-cell align-middle px-2">
                    <svg width="5" height="5">
                      <rect width="5" height="5" style="fill: #fdc600" />
                    </svg>
                  </div>
                  <div class="table-cell text-left dark:text-white font-light text-2xl">Bogen digital an owlly übermitteln</div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="text-center flex-auto">
              <app-button (click)="navigate()" class="py-10">Weiter</app-button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</main>

<app-footer></app-footer>

<ng-template #loadingUser>
  <app-textblock title="Wir sind gleich soweit" type="owlly" subtitle="Deine Daten werden gerade übertragen."> </app-textblock>
  <div class="animate-spin block text-4xl dark:text-white md:text-6xl text-center mx-auto py-6 px-6">
    <p><fa-icon [icon]="faSpinner"></fa-icon></p>
  </div>
</ng-template>

<ng-template #loadingPdf>
  <p class="font-light text-2xl dark:text-white">Einen Moment noch - wir generieren dein persönliches Dokument.</p>
  <div class="animate-spin block text-4xl md:text-6xl dark:text-white text-center mx-auto py-6 px-6">
    <p><fa-icon [icon]="faSpinner"></fa-icon></p>
  </div>
</ng-template>
