<app-header
[hideNav]="true"
></app-header>

<main>
  <div class="container mx-auto max-w-screen-lg px-6 pt-10">
    <ng-container *ngIf="useData$ | async as userData; else loadingUser">
      <h1 class="font-bold text-4xl md:text-6xl">{{ userData?.given_name }}</h1>
    </ng-container>

    <ng-container *ngIf="pdf$ | async as pdf; else loadingPdf">
      <p *ngIf="pdf.url === undefined" class="font-light text-2xl">Die PDF Generierung hat nicht geklappt 🤔</p>

      <ng-container *ngIf="pdf.url !== undefined">
        <app-textblock type="owlly"></app-textblock>
        <p class="font-light text-2xl">Wir haben von Dir alle erforderlichen Informationen erhalten und deine Unterschriftenbogen erstellt!</p>

        <app-button (click)="navigate()" class="py-10">Weiter</app-button>
      </ng-container>
    </ng-container>
  </div>
</main>

<app-footer></app-footer>

<ng-template #loadingUser>
  <div>Lade User...</div>
</ng-template>

<ng-template #loadingPdf>
  <div>Generiere dein persönliches PDF...</div>
</ng-template>
