<app-header></app-header>

<app-pagehero type="campaigner" imgName="campaigner-4-1920" [diamonds]="true" iconName="../../../../assets/campaigner_icon.svg">
  <h1 class="text-4xl md:text-6xl font-light dark:text-white">E-Collecting fördern</h1>
  <h1 class="text-4xl md:text-6xl font-bold dark:text-white">Campaigner/Partei</h1>
  <h2 class="text-xl dark:text-white">
    Die Verwaltung spielt eine Schlüsselrolle in der erfolgreichen Einführung von E-Collecting. Owlly bietet perönliche Unterstützung.
  </h2>

  <div class="flex grid grid-cols-1 md:grid-cols-2 mx-auto max-w-screen-xl gap-x-20">
    <div class="">
      <app-textblock
        title="Politische Legitimation"
        type="campaigner"
        text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
      >
      </app-textblock>

      <app-textblock
        title="Auftrag zur Einführung an Verwaltung"
        type="campaigner"
        text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
      >
      </app-textblock>

      <app-textblock
        title="Sensibilisierung der Öffentlichkeit"
        type="campaigner"
        text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
      >
      </app-textblock>
    </div>

    <div class="h-1/3 p-6">
      <app-card
        title="E-Collecting ausprobieren?"
        text="Testen Sie E-Collecting auf Ihrer Campaigning Website indem Sie ganz einfach den owlly E-Collecting Button einbinden. Mehr Infos finden Sie unter https://docs.owlly.ch."
        class="h-20 p-6"
        [showButton]="true"
        buttonText="mehr"
        type="campaigner"
      >
      </app-card>
    </div>
  </div>

  <app-footer></app-footer>
</app-pagehero>
