<app-header></app-header>
<app-pagehero type="plain" [diamonds]="true" imgName="smartphone-1">
  <h1 class="text-4xl md:text-6xl font-light title dark:text-white">E-Collecting fördern</h1>
  <h1 class="text-4xl md:text-6xl font-bold title dark:text-white">Wo liegen die Vorteile und wie vorgehen?</h1>
  <!-- Subtitle -->
  <h2 class="text-xl dark:text-white">Für verschiedene Funktionen bietet E-Collecting unterschiedliche Vorteile und Handlungsansätze.</h2>

  <div class="h-64 hidden lg:block"></div>
  <div class="flex grid grid-cols-1 lg:grid-cols-3 mx-auto max-w-screen-xl px-6 py-4 gap-6">
    <app-card
      class="flex-1"
      type="admin"
      title="Verwaltung"
      [showButton]="true"
      text="Die Verwaltung profitiert von E-Collecting in erster Linie durch Effizienzgewinne. Zudem kann sie ohne grossen Aufwand ein konkretes E-Government Projekt lancieren um damit die Demokratie zu stärken."
      buttonText="mehr"
      imgName="admin_icon.svg"
      link="/support/administration"
    >
    </app-card>
    <app-card
      class="flex-1"
      type="campaigner"
      title="Campaigner/Partei"
      text="Durch E-Collecting werden die Aufwände für das Sammeln von Unterschriften auf einen Bruchteil reduziert. Es bieten sich zudem neue Wege die Bevölkerung einfacher zu erreichen."
      buttonText="mehr"
      [showButton]="true"
      imgName="campaigner_icon.svg"
      link="/support/campaigner"
    >
    </app-card>
    <app-card
      class="flex-1"
      type="citizen"
      title="Bürger/in"
      text="Die Bevölkerung wird besser und repräsentativer in den politischen Prozess miteinbezogen. Systematisch ausgeschlossene erhalten einen Zugang und die Demokratie wird dadurch gestärkt. Erfahren Sie hier, wie Sie dazu beitragen können."
      buttonText="mehr"
      [showButton]="true"
      imgName="citizen_icon.svg"
      link="/support/citizen"
    >
    </app-card>
  </div>

  <app-footer></app-footer>
</app-pagehero>
