<app-header></app-header>

<main class="dark:bg-gray-800">
  <div class="container mx-auto max-w-screen-lg px-6 pt-10 dark:text-white">
    <h1 class="text-4xl font-bold">Kontakt-Adresse:</h1>
    <br />
    <p><b>Project owlly</b></p>
    E-Mail: <a href="mailto:hi@owlly.ch" name="email">hi@owlly.ch</a><br />
    <p>Das Projekt wurde im Rahmen des Prototypfunds von liitu gegründet.</p>

    <p>
      <br />
      <b>liitu consulting gmbh</b> <br />
      Villenstrasse 4 <br />
      8200 Schaffhausen <br />
      Schweiz <br />
      E-Mail: <a href="mailto:info@liitu.ch" name="email">info@liitu.ch</a>
    </p>

    <h1>Vertretungsberechtigte Person(en)</h1>
    <p>Sandro Scalco</p>
    <br />
    <h1 class="text-4xl font-bold">Handelsregister-Eintrag</h1>
    <p>
      Eingetragener Firmenname: liitu consulting gmbh <br />
      Handelsregister Nr: CHE-178.036.243
    </p>
    <br />
    <h1 class="text-4xl font-bold">Haftungsausschluss</h1>
    <p>
      Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der
      Informationen. Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw.
      Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen.
      Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne besondere Ankündigung zu
      verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
    </p>
    <br />
    <h1 class="text-4xl font-bold">Haftungsausschluss für Links</h1>
    <p>
      Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs. Es wird jegliche Verantwortung für solche Webseiten abgelehnt.
      Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene Gefahr des jeweiligen Nutzers.
    </p>
    <br />
    <h1 class="text-4xl font-bold">Urheberrechte</h1>
    <p>
      Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf dieser Website, gehören ausschliesslich der Firma liitu
      consulting gmbh oder den speziell genannten Rechteinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung des
      Urheberrechtsträgers im Voraus einzuholen.
    </p>
    <p class="pb-10">Quelle: <a href="https://www.swissanwalt.ch/" name="swissanwalt">SwissAnwalt</a></p>
  </div>
</main>

<app-footer></app-footer>
