<app-header></app-header>

<main class="bg-gray-50 text-black antialiased">
  <div class="container mx-auto max-w-screen-lg px-6 pt-10">
    <h1 class="text-2xl">Kontakt-Adresse</h1>
    <p class="mt-2">
      liitu consulting gmbh <br />
      Villenstrasse 4 <br />
      8200 Schaffhausen <br />
      Schweiz <br />
      E-Mail: <a href="mailto:info@liitu.ch">info@liitu.ch</a>
    </p>

    <h1 class="text-2xl mt-4">Vertretungsberechtigte Person(en)</h1>
    <p class="mt-2">Sandro Scalco</p>

    <h1 class="text-2xl mt-4">Handelsregister-Eintrag</h1>
    <p class="mt-2">
      Eingetragener Firmenname: liitu consulting gmbh <br />
      Handelsregister Nr: CHE-178.036.243
    </p>

    <h1 class="text-2xl mt-4">Haftungsausschluss</h1>
    <p class="mt-2">
      Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der
      Informationen. Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw.
      Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen.
      Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne besondere Ankündigung zu
      verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
    </p>

    <h1 class="text-2xl mt-4">Haftungsausschluss für Links</h1>
    <p class="mt-2">
      Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs. Es wird jegliche Verantwortung für solche Webseiten abgelehnt.
      Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene Gefahr des jeweiligen Nutzers.
    </p>

    <h1 class="text-2xl mt-4">Urheberrechte</h1>
    <p class="mt-2">
      Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf dieser Website, gehören ausschliesslich der Firma liitu
      consulting gmbh oder den speziell genannten Rechteinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung des
      Urheberrechtsträgers im Voraus einzuholen.
    </p>
    <p class="mt-2 pb-10">Quelle: <a href="https://www.swissanwalt.ch/">SwissAnwalt</a></p>
  </div>
</main>

<app-footer></app-footer>
