<div class="relative shadow-xl bg-gray-50 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-600 rounded h-full transition">
    <div class="underline {{type}} rounded-t"></div>
    <div class="p-4">
        <h1 class="text-2xl md:text-4xl font-bold">{{title}}</h1>
    </div>
    <div class="px-4">
        <p class="text-xl">{{text}}</p>
    </div>
    <div class="h-14"></div>
    <div *ngIf="showButton" class="absolute bottom-0 right-0 p-4"> 
        <app-button type="submit" [small]="true">{{buttonText}}</app-button>
    </div>
</div>