<div
  class="relative rounded shadow-xl bg-gray-50 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-600 rounded h-full transition"
  style="min-height: 300px; min-width: 400px"
>
  <div class="w-full overflow-hidden">
    <img class="rounded-t" src="../../../../assets/newsheader/{{ imgName }}" alt="" width="100%" />
  </div>
  <div class="p-4">
    <p class="text-md font-light dark:text-white">{{ trimString(text, 200) }}</p>
  </div>
  <div class="h-14"></div>
  <div *ngIf="showButton" class="absolute bottom-0 right-0 p-4">
    <app-button type="submit" [small]="true">{{ buttonText }}</app-button>
  </div>
  <div class="absolute bottom-0 left-0 p-4 text-md font-light dark:text-white">{{ date }}</div>
</div>
