<app-header></app-header>

<app-pagehero type="citizen" imgName="people-1-1920" [diamonds]="true" iconName="../../../../assets/citizen_icon.svg">
  <h1 class="text-4xl md:text-6xl font-light dark:text-white">E-Collecting fördern</h1>
  <h1 class="text-4xl md:text-6xl font-bold dark:text-white">Bürger/in</h1>
  <h2 class="text-xl dark:text-white">Lorem ipsum</h2>

  <div class="flex grid grid-cols-1 md:grid-cols-2 mx-auto max-w-screen-xl gap-x-20">
    <div class="">
      <app-textblock
        title="Testperson werden und mitgestalten"
        type="citizen"
        text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
      >
      </app-textblock>

      <app-textblock
        title="Sensibilisierung der Öffentlichkeit"
        type="citizen"
        text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
      >
      </app-textblock>

      <app-textblock
        title="Engagement in einer Organisation"
        type="citizen"
        text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
      >
      </app-textblock>
    </div>

    <div class="h-1/3 p-6">
      <app-card
        title="E-Collecting erleben"
        text="Willst du E-Collecting ohne E-ID einfach so mal ausprobieren? Öffne ganz einfach unseren Prototypen."
        class="h-20 p-6"
        [showButton]="true"
        buttonText="mehr"
        type="citizen"
      >
      </app-card>
    </div>
  </div>

  <app-footer></app-footer>
</app-pagehero>
