/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/lato-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("/assets/fonts/lato-v17-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/lato-v17-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/lato-v17-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/lato-v17-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/lato-v17-latin-regular.svg#Lato") format("svg"); /* Legacy iOS */
}

/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/lato-v17-latin-900.eot"); /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("/assets/fonts/lato-v17-latin-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/lato-v17-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/lato-v17-latin-900.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/lato-v17-latin-900.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/lato-v17-latin-900.svg#Lato") format("svg"); /* Legacy iOS */
}
