<app-header [hideNav]="true"></app-header>

<main class="dark:bg-black">
  <div class="container mx-auto max-w-screen-xl">
    <ng-container *ngIf="owlly$ | async as owlly">
      <app-textblock type="owlly">
        <h2 class="text-xl px-6 pb-6 dark:text-white text-center font-bold">
          Mit owlly einfach digital einen persönlichen Unterschriftenbogen erstellen und sicher einreichen.
        </h2>
        <a target="_blank" href="https://owlly.ch/o/{{ owlly.data.slug }}" class="text-black dark:text-white hover:text-opacity-80 transition">
          <h1 class="text-4xl sm:text-6xl dark:text-white md:text-8xl font-bold text-center">{{ owlly.data.title }}</h1>
        </a>
      </app-textblock>
      <!-- <div class="mx-auto max-w-screen-xl px-6">
        <a target="_blank" href="https://owlly.ch/o/{{ owlly.data.slug }}" class="flex font-light dark:text-white" name="mehr erfahren">
          <p class="underline text-center">mehr erfahren</p>
          
        </a>
      </div> -->

      <!-- DAS HIER SOLLTE EIN EIGENE COMP WERDEN-->
      <div class="font-light text-2xl dark:text-white px-6">
        <!-- titel text?-->
      </div>
      <div class="mx-auto max-w-screen-xl px-6 pt-6 text-center md:text-left">
        <p class="font-bold text-2xl dark:text-white pb-4">Das sind die nächsten Schritte</p>
        <div class="grid grid-cols-2 md:grid-cols-3 md:gap-6 gap-2">
          <div class="text-center rounded md:pt-20 md:pb-16 pt-4 pb-2 dark:bg-gray-900">
            <fa-icon [icon]="faFileAlt" class="md:text-6xl text-2xl text-black dark:text-white"></fa-icon>
            <p class="dark:text-white text-lg md:pt-4 font-light">1. Bogen mit elektronischer Identität erstellen</p>
          </div>
          <div class="text-center rounded md:pt-20 md:pb-16 pt-4 pb-2 dark:bg-gray-900">
            <fa-icon [icon]="faFileSignature" class="md:text-6xl text-2xl text-black dark:text-white"></fa-icon>
            <p class="dark:text-white text-lg md:pt-4 font-light">2. Bogen signieren</p>
          </div>
          <div class="text-center rounded md:pt-20 md:pb-16 pt-4 pb-2 dark:bg-gray-900">
            <fa-icon [icon]="faFileExport" class="md:text-6xl text-2xl text-black dark:text-white"></fa-icon>
            <p class="dark:text-white text-lg md:pt-4 font-light">3. Bogen digital an owlly übermitteln</p>
          </div>
        </div>
      </div>
      <!-- DAS HIER SOLLTE EIN EIGENE COMP WERDEN-->
      <div class="flex flex-row">
        <div class="text-center flex-auto">
          <app-signature [owllyId]="owlly.id" configuration="sh" class="py-10 text-center"></app-signature>
          <app-signature [owllyId]="owlly.id" configuration="zg" class="py-10 text-center"></app-signature>
        </div>
      </div>

      <div class="bg-gray-100 dark:bg-gray-800 md:dark:bg-black md:bg-white relative bottom-0">
        <div class="mx-auto max-w-screen-xl grid flex grid-cols-1 md:grid-cols-2">
          <app-textblock type="owlly">
            <h1 class="font-bold text-2xl dark:text-white">Kein Papier, kein Ausdrucken!</h1>
            <h2 class="font-light text-xl dark:text-white">
              Mit owlly kannst du ein Volksbegehren völlig digital und einfach unterzeichnen. Zur Identifizierung deiner Identität und für die elektronische
              Unterschrift nutzen wir die eID+ des Kantons Schaffhausen. Du kannst den Unterschriftenbogen per E-Mail an owlly senden. Alles ohne Drucker,
              Papier, Couvert, Briefmarke und Kugelschreiber.
            </h2>
          </app-textblock>

          <app-textblock type="owlly">
            <h1 class="font-bold text-2xl dark:text-white">Wirkungsvoll und sicher unterschreiben mit owlly</h1>
            <h2 class="font-light text-xl dark:text-white">
              Wir verwenden deine Daten (Name, Vorname, Geburtsdatum, Wohnadresse) nur zur Generierung deines persönlichen Unterschriftbogens (PDF) und für die
              Bescheinigung, welche durch die Gemeinden/Kantonen durchgeführt wird. Diese Daten brauchen wir zwingend von dir, um den Unterschriftenbogen zu
              erstellen. Optional verwenden wir deine E-Mail Adresse um dich einmalig zu kontaktieren, falls wir deinen Unterschriftenbogen nicht erhalten
              haben. Die E-Mail Adresse wird nicht weitergegeben oder anderweitig verwendet und nach erfolgreichem Erhalt deines PDFs automatisch gelöscht.
            </h2>
            <a target="_blank" href="https://owlly.ch/policy" class="" name="mehr informationen">
              <p class="dark:text-white underline font-light text-md text-right">Mehr Informationen</p>
              <!--<fa-icon [icon]="faInfoCircle"></fa-icon>-->
            </a>
          </app-textblock>
        </div>
      </div>
    </ng-container>
  </div>
</main>

<app-footer></app-footer>
