<app-header></app-header>

<app-pagehero imgName="bundeshaus-2" type="plain" [diamonds]="true">
  <h1 class="text-4xl md:text-6xl font-light dark:text-white">Fortschritt in der Schweiz:<span class="text-4xl md:text-6xl font-bold"> Bund</span></h1>
  <!-- Subtitle -->
  <h2 class="text-xl dark:text-white">
    Auf Bundesebene gab es bereits mehrere Vorstösse mit dem Ziel E-Collecting zu ermöglichen. Der Bundesrat vertritt die Meinung, E-Collecting sei nicht
    zeitnah umzusetzen.
  </h2>

  <div class="flex grid grid-cols-1 md:grid-cols-2 mx-auto max-w-screen-xl py-2">
    <app-textblock
      type="owlly"
      title="Was bisher geschah"
      text="Hier haben wir dir eine Übersicht der wichtigsten politischen Geschäfte zum Thema E-Collecting zusammengestellt."
    ></app-textblock>

    <app-textblock
      type="owlly"
      title="Motion Jaqueline Fehr:  | Stärkung der Demokratie durch E-Collecting (08.3908 ) "
      text="Jaqueline Fehr forderte im Jahr 2008 als erste Parlamentarierin die gesetzliche Grundlage für E-Collecting Pilotprojekte im parallelbetrieb zu E-Voting und E-Government. Da der Bundesrat E-Collecting explizit in einer dritten Projektphase von «Vote électronique» vorsah und die wesentlichen Projektschritte mit der Harmonisierung der Stimmregister nicht abgeschlossen war, empfahl dieser die Motion abzulehnen. "
    ></app-textblock>

    <app-textblock
      type="owlly"
      title="Interpellation Cedric Wermuth: | Zentrale Beglaubigung für eidgenössische Volksinitiativen und Referenden (12.3082) "
      text="Einen weiteren Vorstoss zur Zentralisierung wagte Cedric Wermuth mit seiner Interpellation im Jahre 2012. Dabei wollte er auf den Erfahrungen von «Vote électronique» aufbauen und die Erfahrungen der dort zentralisierten Stimmregister für Auslandschweizer für E-Collecting wiederverwenden. Die damals im Jahr 2013/14 geplante dritte Projektphase von «Vote électronique» wurde bis heute nicht in Angriff genommen."
    ></app-textblock>
    <app-textblock
      type="owlly"
      title="Postulat Damian Müller: | Die Chancen von Civic Tech nutzen (17.4017)"
      text="Das Postulat von Damian Müller hat den Bundesrat dazu bewogen, einen Bericht über Civic Tech und die digitale Weiterentwicklung von bestehenden Formen der politischen Partizipation zu verfassen. Im bereits vorhandenen Bericht «Strategie des Bundesrats für eine digitale Schweiz» wird nur E-Voting und neue Medien für die Digitalisierung der politischen Partizipation erwähnt. "
    ></app-textblock>

    <app-textblock
      type="owlly"
      title="Motion Franz Grütter:  |  Stärkung der Volksrechte. Unterschriftensammlung für Initiativen und Referenden im Internet (18.3062) "
      text="Einreichungsdatum: 05.03.2018
18.3062 | Motion Franz Grütter:  |  Stärkung der Volksrechte. Unterschriftensammlung für Initiativen und Referenden im Internet (18.3062) 
Aufgrund eines Gutachtens des Zentrums für Demokratie in Aarau, welches die Unterschrift nicht als Identifikationsmerkmal sieht, überweist Franz Grütter die Motion. Im Gegensatz steht dabei die Verschärfung des Gesetzes bei der letzten Revision der politischen Rechte (BPR, SR 161.1). So müssen zum Schutz vor Missbrauch Name und Vorname ,Vorname, sowie die Unterschrift handschriftlich angegeben werden. Unterschriften auf Touchscreens, wie von Grütter gefordert, bieten keinen solchen Schutz."
    ></app-textblock>
  </div>

  <div class="flex grid grid-cols-1 md:grid-cols-2 mx-auto max-w-screen-xl py-2">
    <app-textblock
      type="owlly"
      title="Ausblick"
      text="Die Motion von Grütter war der letzte parlamentarische Versuch, E-Collecting auf Bundesebene einzuführen. So erstaunt es nicht, dass in den letzten Jahren die Vorstösse in den Kantonen zum Thema zugenommen haben. In den Kantonen Zürich, Basel-Stadt und St. Gallen haben Politiker das Thema E-Collecting wieder auf die Agenda gebracht und im Kanton Schaffhausen wurde sogar eine Volksmotion dazu an den Kantonsrat überwiesen dessen Behandlung im Parlament noch offen ist. So erwägt auch der Bundesrat eine Einführung von E-Collecting auf kantonaler oder kommunaler Ebene (Bundesrat, 2020) und könnte E-Collecting im Zusammenhang mit Vote électronique sogar für Pilotbetriebe auf kantonaler Ebene bewilligen (Art. 27q VPR, AS 2002 3200)."
    ></app-textblock>
  </div>

  <app-footer></app-footer>
</app-pagehero>
