.underline {
  height: 8px;
  width: 300px;
  @media (max-width: 768px) {
    width: 70px;
  }
}
.underline-img {
  height: 8px;
}

.heroimage {
  background-size: cover;
  //height: 600px;
  //background-attachment: fixed;
  //background-position: top;
  //background-repeat: no-repeat;

  /*@media (max-width: 768px) {
        height: auto;
    }*/
}

.owlly {
  background: var(--owlly-linear-gradient);
  .underline {
    background: white;
  }
  .title {
    color: white;
  }
}
.plain {
  .underline {
    background: var(--owlly-linear-gradient);
  }
  .underline-img {
    background: var(--owlly-linear-gradient);
  }
}
.admin {
  .underline {
    background: var(--color-secondary);
  }
  .underline-img {
    background: var(--color-secondary);
  }
}
.campaigner {
  .underline {
    background: var(--color-primary);
  }
  .underline-img {
    background: var(--color-primary);
  }
}
.citizen {
  .underline {
    background: var(--color-tertiary);
  }
  .underline-img {
    background: var(--color-tertiary);
  }
}
