<app-header></app-header>

<main>
  <app-textblock title="Fast am Ziel!" text="Reiche deinen signierten Unterschriftenbogen ein" type="owlly"></app-textblock>

  <div class="container mx-auto max-w-screen-lg px-6 pt-10 prose">
    <ng-container *ngIf="pdf$ | async as pdf">
      <ng-container *ngIf="pdf.url !== undefined">
        Scanne diesen QR Code mit deiner SChaffhauser eID+, um das Dokument zu importieren.
        <deckgo-qrcode content="{{ pdf.url }}"></deckgo-qrcode>

        <app-button [disable]="!pdf || pdf.url === undefined" (click)="openEID()" class="py-10">importieren</app-button>

        <app-button (click)="navigate()" class="py-10">Weiter</app-button>
      </ng-container>
    </ng-container>
  </div>
</main>

<app-footer></app-footer>
