<app-header [hideNav]="true"></app-header>

<main class="dark:bg-black">
  <div class="container mx-auto max-w-screen-xl">
    <app-textblock
      title="Fast am Ziel!"
      text="Signiere anschliessend rechtsgültig dein persönliches PDF mit Skribble oder der eID+ von Schaffhausen"
      type="owlly"
    >
    </app-textblock>

    <ng-container *ngIf="pdf$ | async as pdf">
      <ng-container *ngIf="pdf.url !== undefined">
        <div *ngIf="pdf.status.skribble">
          <!-- DAS HIER SOLLTE EIN EIGENE COMP WERDEN-->
          <div class="font-light text-2xl dark:text-white px-6">Signiere ganz einfach mit Skribble rechtsgültig dein Volksbegehren</div>
          <div class="mx-auto max-w-screen-xl px-6 pt-6 text-center md:text-left">
            <p class="font-bold text-2xl dark:text-white pb-4">Das sind die nächsten Schritte mit Skribble</p>
            <div class="grid grid-cols-2 md:grid-cols-3 md:gap-6 gap-2">
              <div class="text-center rounded md:pt-20 md:pb-16 pt-4 pb-2 dark:bg-gray-900">
                <fa-icon [icon]="faFileAlt" class="md:text-6xl text-2xl text-black dark:text-white"></fa-icon>
                <p class="dark:text-white text-lg md:pt-4 font-light">1. Dokument auf Skribble öffnen (Klick auf "Weiter mit Skribble")</p>
              </div>
              <div class="text-center rounded md:pt-20 md:pb-16 pt-4 pb-2 dark:bg-gray-900">
                <fa-icon [icon]="faFileSignature" class="md:text-6xl text-2xl text-black dark:text-white"></fa-icon>
                <p class="dark:text-white text-lg md:pt-4 font-light">2. Dokument mit Skribble unterschreiben</p>
              </div>
              <div class="text-center rounded md:pt-20 md:pb-16 pt-4 pb-2 dark:bg-gray-900">
                <fa-icon [icon]="faFileExport" class="md:text-6xl text-2xl text-black dark:text-white"></fa-icon>
                <p class="dark:text-white text-lg md:pt-4 font-light">3. Dokument wird automatisch von Skribble an owlly übermittelt</p>
              </div>
            </div>
          </div>
          <!-- DAS HIER SOLLTE EIN EIGENE COMP WERDEN-->
          <div class="flex flex-row">
            <div class="text-center flex-auto">
              <a href="{{ pdf.skribbleSigningUrl }}" target="_self">
                <app-button type="submit" class="py-10">Weiter mit Skribble</app-button>
              </a>
            </div>
          </div>
        </div>

        <!-- SIGNIEREN MIT eID+ als Alternative? -->
        <div *ngIf="pdf.configuration === 'sh'">
          <div class="text-center flex-auto">
            <!-- Anleitung eID+ Schaffhausen -->
            <p class="font-bold text-2xl dark:text-white pb-4">Nutze die eID+ Schaffhausen um zu signieren</p>
            <div class="grid md:grid-cols-5 grid-cols-2 gap-2">
              <div *ngIf="isMobile" class="text-center rounded p-2 dark:bg-gray-900 flex flex-col items-center">
                <img src="../../../../assets/eidIcons/export.png" width="40%" alt="" />
                <p class="dark:text-white text-lg md:pt-2 font-light">1. Button "importieren" drücken</p>
              </div>
              <div *ngIf="!isMobile" class="text-center rounded p-2 dark:bg-gray-900 flex flex-col items-center">
                <img src="../../../../assets/eidIcons/scan.png" width="40%" alt="" />
                <p class="dark:text-white text-lg md:pt-2 font-light">1. QR Code mit deiner eID+ scannen</p>
              </div>
              <div class="text-center rounded p-2 dark:bg-gray-900 flex flex-col items-center">
                <img src="../../../../assets/eidIcons/export.png" width="40%" alt="" />
                <p class="dark:text-white text-lg md:pt-2 font-light">2. "Meine Dokumente" auswählen</p>
              </div>
              <div class="text-center rounded p-2 dark:bg-gray-900 flex flex-col items-center">
                <img src="../../../../assets/eidIcons/sign.png" width="40%" alt="" />
                <p class="dark:text-white text-lg md:pt-2 font-light">3. Dokument signieren</p>
              </div>
              <div class="text-center rounded p-2 dark:bg-gray-900 flex flex-col items-center">
                <img src="../../../../assets/eidIcons/exportieren.png" width="40%" alt="" />
                <p class="dark:text-white text-lg md:pt-2 font-light">4. Dokument exportieren</p>
              </div>
              <div class="text-center rounded p-2 dark:bg-gray-900 flex flex-col items-center">
                <img src="../../../../assets/eidIcons/exportieren.png" width="40%" alt="" />
                <p class="dark:text-white text-lg md:pt-2 font-light">
                  5. Dokument per E-Mail an
                  <span class="text-secondary font-bold"><a target="_blank" href="mailto:briefkasten@owlly.ch">briefkasten@owlly.ch</a></span> senden
                </p>
              </div>
            </div>

            <div>
              <!--DESKTOP-->
              <div *ngIf="!isMobile">
                <div class="text-center items-center mx-auto py-4">
                  <deckgo-qrcode content="{{ pdf.url }}"></deckgo-qrcode>
                </div>
              </div>

              <!--ON MOBILE -->
              <div class="text-center flex-auto" *ngIf="isMobile">
                <p class="dark:text-white text-xl font-light text-center">
                  Du kannst das Dokument direkt in deine eID+ importieren (Beta). Die owlly E-Mail-Adresse wird beim Importieren automatisch in deine
                  Zwischenablage kopiert.
                </p>
                <app-button (click)="import()" class="py-6">Importieren </app-button>

                <a href="{{ urlstring }}"> Mit eID+ öffnen </a>
              </div>

              <!-- Download Doc -->
              <div class="flex flex-row">
                <div class="text-center flex-auto">
                  <a href="{{ pdf.url }}" target="_blank">
                    <app-button type="submit" class="py-10">Download</app-button>
                  </a>
                  <!-- <a
                    class="auth__link"
                    href="eidplus://did:eidplus:undefined/share?endpoint=wss%3A%2F%2Feid.sh.ch%2Fapi%2Fdevice%2F85dfffff-8afe-4ef9-a877-5034962bb9e0%2F&amp;nonce=652dff06-f27c-4855-881e-6ae2cb77d2bc"
                  >
                    Mit eID+ öffnen
                  </a>-->
                </div>
              </div>

              <!-- WEITER -->
              <div class="flex justify-end" *ngIf="(isMobile && importIsClicked) || !isMobile">
                <app-button (click)="navigate()" class="py-10">Weiter</app-button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</main>
<app-footer></app-footer>
