<div class="fixed bg-gray-200 dark:bg-black transition-all z-40" id="mobileNav">
  <div class="absolute top-6 right-6">
    <a (click)="closeMobileNav()" class="text-2xl">
      <fa-icon [icon]="faTimesCircle"></fa-icon>
    </a>
  </div>

  <div class="text-center">
    <h2 class="font-bold text-2xl p-6">Dashboard <span style="color: var(--color-secondary)">Verwaltung</span></h2>
  </div>
  <div class="grid justify-items-auto grid-cols-3 text-lg font-light p-6 text-center">
    <fa-icon [icon]="faUserCircle" class=""></fa-icon>
    <a class="col-span-2" href="/admin/profile">
      <p>Benutzerprofil bearbeiten</p>
    </a>
  </div>
  <a (click)="logout()" href="/logout">
    <div class="absolute w-full py-2 bottom-0 bg-yellow-400 text-center font-bold text-lg">
      Abmelden
      <!--<a href="/logout">Abmelden</a>-->
      <!--

      <a>
        <app-button (click)="logout()"> Abmelden </app-button>
      </a>
    --></div>
  </a>
</div>

<app-dashboard-header></app-dashboard-header>

<div class="grid lg:grid-cols-12 grid-cols-1">
  <div class="sticky top-0 lg:col-span-2 hidden lg:block bg-gray-200" id="sidebar">
    <h2 class="font-bold text-2xl p-6">Dashboard <span style="color: var(--color-secondary)">Verwaltung</span></h2>
    <div class="grid grid-cols-6 text-lg font-light p-6 hover:text-gray-500 transition">
      <fa-icon [icon]="faUserCircle" class="col-span-1"></fa-icon>
      <a class="col-span-5" href="/admin/profile">
        <p>Benutzerprofil bearbeiten</p>
      </a>
    </div>
    <a (click)="logout()" href="/logout">
      <div class="absolute w-full py-2 bottom-0 bg-yellow-400 text-center font-bold text-lg">Abmelden</div>
    </a>
  </div>

  <div class="lg:col-span-10 p-6 col-start-1 lg:col-start-3 row-start-1 transition-all">
    <!-- Dashboard Verwaltung -->
    <div class="container">
      <div class="flex flex-row gap-6 items-center">
        <button
          (click)="back()"
          type="button"
          class="border-none outline-none z-20 text-black rounded-full hover:opacity-80 transition-all round-shadow bg-yellow-400 h-12 w-12 flex items-center justify-center"
        >
          <fa-icon [icon]="faAngleLeft"></fa-icon>
        </button>
        <h1 class="font-bold text-2xl">{{ initiativeSelect }}</h1>
      </div>

      <div class="customScroll overflow-y-auto">
        <table id="myTable" class="w-full table-auto mt-12">
          <tr class="text-left">
            <!--When a header is clicked, run the sortTable function, with a parameter, 0 for sorting by names, 1 for sorting by country:-->
            <th (click)="sortTable(0)" style="cursor: pointer">Vorname</th>
            <th (click)="sortTable(1)" style="cursor: pointer">Name</th>
            <th (click)="sortTable(2)" style="cursor: pointer">Adresse</th>
            <th>Geburtsdatum</th>
            <th>Erstellt</th>
            <th>Importiert</th>
            <th (click)="sortTable(3)" style="cursor: pointer">Status</th>
            <th>OTS</th>
            <th>PDF</th>
          </tr>

          <tr *ngFor="let item of certifyList">
            <td>{{ item.data.given_name }}</td>
            <td>{{ item.data.family_name }}</td>
            <td>{{ item.data.street_address }}, {{ item.data.postal_code }} {{ item.data.locality }}</td>
            <td>{{ item.data.birth_date }}</td>
            <td>{{ item.generated.seconds * 1000 | date: 'dd.MM.yyyy HH:mm' }}</td>
            <td>{{ item.imported.seconds * 1000 | date: 'dd.MM.yyyy HH:mm' }}</td>
            <td *ngIf="item.certified">
              <fa-icon [icon]="faCheckCircle" class="text-2xl text-green-500"></fa-icon>
            </td>

            <td *ngIf="!item.certified">
              <select
                name="begehren"
                id="begehren"
                class="p-2 focus:outline-none dark:focus:bg-gray-600 dark:text-black dark:bg-gray-700 focus:bg-gray-200 bg-gray-100"
                value=""
              >
                <option class="text-green-500">Bescheinigen</option>
                <option>Mehrfach unterschrieben</option>
                <option selected>Kein Schweizer Bürgerrecht</option>
                <option>Nicht in der Gemeinde wohnhaft / weggezogen</option>
                <option>Unter umfassender Beistandschaft</option>
                <!--<option>Unterschrift fehlt</option>-->
                <option>Bei Einreichung der Liste bei der Gemeinde gestrichen</option>
                <option>Nicht identifizierbar</option>
                <!--<option>Von gleicher Hand</option>-->
                <option>Nicht im Stimmregister</option>
                <option>Minderjährig</option>
                <option>Gestorben</option>
                <option>Nicht stimmberechtigt</option>
                <option>Falsches Geburtsdatum</option>
              </select>
            </td>
            <td>
              <a href="{{ item.opentimestamps }}">
                <fa-icon [icon]="faLink" class="text-2xl text-green-500"></fa-icon>
              </a>
            </td>
            <td>
              <a href="{{ item.firebasestorage }}">
                <fa-icon [icon]="faFilePdf" class="text-2xl text-black-500"></fa-icon>
              </a>
            </td>
          </tr>
          <!--
            <tr>
              <td>Jessika</td>
              <td>Freud</td>
              <td>Via Schliffras 77, 8547 Gachnang</td>
              <td>02.11.1990</td>
              <td class="text-right">
                <fa-icon [icon]="faCheckCircle" class="text-2xl text-green-500"></fa-icon>
              </td>
            </tr>
            <tr>
              <td>Bernd</td>
              <td>Bader</td>
              <td>Piazza Indipendenza 30,
                3923 Törbel</td>
                <td>02.11.1990</td>
                <td class="text-right">
              <fa-icon [icon]="faCheckCircle" class="text-2xl text-green-500"></fa-icon>
            </td>
          </tr>
          <tr>
            <td>Christian</td>
            <td>Keller</td>
            <td>Bahnhofstrasse 97,
              5728 Gontenschwil</td>
            <td>02.11.1990</td>
            <td class="text-right">
              <fa-icon [icon]="faCheckCircle" class="text-2xl text-green-500"></fa-icon>
            </td>
          </tr>

          <tr>
            <td>Klaudia</td>
            <td>Grunwald</td>
            <td>Casut 30,
              1942 Levron</td>
            <td>02.11.1990</td>
            <td class="text-right">
              <fa-icon [icon]="faCheckCircle" class="text-2xl text-green-500"></fa-icon>
            </td>
          </tr>
          <tr>
            <td>Franziska</td>
            <td>Maurer</td>
            <td>Via Vigizzi 5, 3857 Unterbach</td>
            <td>02.11.1990</td>
            <td class="text-right">
              <select name="begehren" id="begehren"
                class="p-2 focus:outline-none dark:focus:bg-gray-600 dark:text-black dark:bg-gray-700 focus:bg-gray-200 bg-gray-100"
                value="">
                <option>Mehrfach unterschrieben</option>
                <option selected>Kein Schweizer Bürgerrecht</option>
                <option>Nicht in der Gemeinde wohnhaft / weggezogen</option>
                <option>Unter umfassender Beistandschaft</option>
                <option>Unterschrift fehlt</option>
                <option>Bei Einreichung der Liste bei der Gemeinde gestrichen</option>
                <option>Nicht identifizierbar</option>
                <option>Von gleicher Hand</option>
                <option>Nicht im Stimmregister</option>
                <option>Minderjährig</option>
                <option>Gestorben</option>
                <option>Nicht stimmberechtigt</option>
                <option>Falsches Geburtsdatum</option>
              </select>

            </td>
          </tr>
          <tr>
            <td>Anne</td>
            <td>Schuhmacher</td>
            <td> Quellenstrasse 78,
              2572 Mörigen</td>
            <td>02.11.1990</td>
            <td class="text-right">
              <fa-icon [icon]="faCheckCircle" class="text-2xl text-green-500"></fa-icon>
            </td>
          </tr>
          <tr>
            <td>Leon</td>
            <td>Weisz</td>
            <td>Breitenstrasse 63,
              4056 Basel</td>
            <td>02.11.1990</td>
            <td class="text-right">
              <fa-icon [icon]="faCheckCircle" class="text-2xl text-green-500"></fa-icon>
            </td>
          </tr>
          <tr>
            <td>Ralf</td>
            <td>Mayer</td>
            <td>Rasenstrasse 109,
              3652 Hilterfingen</td>
            <td>02.11.1990</td>
            <td class="text-right">
              <fa-icon [icon]="faCheckCircle" class="text-2xl text-green-500"></fa-icon>
            </td>
          </tr>
          <tr>
            <td>Phillipp</td>
            <td>Moeller</td>
            <td>Via Muraccio 40,
              3111 Tägertschi</td>
            <td>02.11.1990</td>
            <td class="text-right">
              <select name="begehren" id="begehren"
                class="p-2 focus:outline-none dark:focus:bg-gray-600 dark:text-black dark:bg-gray-700 focus:bg-gray-200 bg-gray-100"
                value="">
                <option>Mehrfach unterschrieben</option>
                <option>Kein Schweizer Bürgerrecht</option>
                <option>Nicht in der Gemeinde wohnhaft / weggezogen</option>
                <option>Unter umfassender Beistandschaft</option>
                <option>Unterschrift fehlt</option>
                <option selected>Bei Einreichung der Liste bei der Gemeinde gestrichen</option>
                <option>Nicht identifizierbar</option>
                <option>Von gleicher Hand</option>
                <option>Nicht im Stimmregister</option>
                <option>Minderjährig</option>
                <option>Gestorben</option>
                <option>Nicht stimmberechtigt</option>
                <option>Falsches Geburtsdatum</option>
              </select>

            </td>
          </tr>
          <tr>
            <td>Daniel</td>
            <td>Jager</td>
            <td>Lungolago 149,
              2710 Tavannes</td>
            <td>02.11.1990</td>
            <td class="text-right">
              <fa-icon [icon]="faCheckCircle" class="text-2xl text-green-500"></fa-icon>
            </td>
          </tr>
          <tr>
            <td>Lukas</td>
            <td>Pabst</td>
            <td>Piazza Rezzonico 30,
              1443 Villars-sous-Champvent</td>
            <td>02.11.1990</td>
            <td class="text-right">
              <fa-icon [icon]="faCheckCircle" class="text-2xl text-green-500"></fa-icon>
            </td>
          </tr>
          <tr>
            <td>Anke </td>
            <td>Nacht</td>
            <td>Forrenböhlstrasse 2,
              4447 Känerkinden</td>
            <td>02.11.1990</td>
            <td class="text-right">
              <fa-icon [icon]="faCheckCircle" class="text-2xl text-green-500"></fa-icon>
            </td>
          </tr>
          <tr>
            <td>Anke </td>
            <td>Eggers</td>
            <td>Kammelenbergstrasse 32,
              6173 Flühli</td>
            <td>02.11.1990</td>
            <td class="text-right">
              <select name="begehren" id="begehren"
                class="p-2 focus:outline-none dark:focus:bg-gray-600 dark:text-black dark:bg-gray-700 focus:bg-gray-200 bg-gray-100"
                value="">
                <option>Mehrfach unterschrieben</option>
                <option>Kein Schweizer Bürgerrecht</option>
                <option>Nicht in der Gemeinde wohnhaft / weggezogen</option>
                <option>Unter umfassender Beistandschaft</option>
                <option>Unterschrift fehlt</option>
                <option>Bei Einreichung der Liste bei der Gemeinde gestrichen</option>
                <option>Nicht identifizierbar</option>
                <option>Von gleicher Hand</option>
                <option>Nicht im Stimmregister</option>
                <option>Minderjährig</option>
                <option>Gestorben</option>
                <option selected>Nicht stimmberechtigt</option>
                <option>Falsches Geburtsdatum</option>
              </select>

            </td>
          </tr>
          <tr>
            <td>Maria </td>
            <td>Müller</td>
            <td>Herrenberg 97,
              1624 Progens</td>
            <td>02.11.1990</td>
            <td class="text-right">
              <fa-icon [icon]="faCheckCircle" class="text-2xl text-green-500"></fa-icon>
            </td>
          </tr>
          <tr>
            <td>Philipp </td>
            <td>Klein</td>
            <td>Forrenböhlstrasse 67,
              3413 Kaltacker</td>
            <td>02.11.1990</td>
            <td class="text-right">
              <select name="begehren" id="begehren"
                class="p-2 focus:outline-none dark:focus:bg-gray-600 dark:text-black dark:bg-gray-700 focus:bg-gray-200 bg-gray-100"
                value="">
                <option>Mehrfach unterschrieben</option>
                <option>Kein Schweizer Bürgerrecht</option>
                <option>Nicht in der Gemeinde wohnhaft / weggezogen</option>
                <option>Unter umfassender Beistandschaft</option>
                <option selected>Unterschrift fehlt</option>
                <option>Bei Einreichung der Liste bei der Gemeinde gestrichen</option>
                <option>Nicht identifizierbar</option>
                <option>Von gleicher Hand</option>
                <option>Nicht im Stimmregister</option>
                <option>Minderjährig</option>
                <option>Gestorben</option>
                <option>Nicht stimmberechtigt</option>
                <option>Falsches Geburtsdatum</option>
              </select>

            </td>
          </tr>
          <tr>
            <td>Jan </td>
            <td>Freytag</td>
            <td>Erlenweg 86,
              3020 Bern</td>
            <td>02.11.1990</td>
            <td class="text-right">
              <select name="begehren" id="begehren"
                class="p-2 focus:outline-none dark:focus:bg-gray-600 dark:text-black dark:bg-gray-700 focus:bg-gray-200 bg-gray-100"
                value="">
                <option>Mehrfach unterschrieben</option>
                <option>Kein Schweizer Bürgerrecht</option>
                <option>Nicht in der Gemeinde wohnhaft / weggezogen</option>
                <option>Unter umfassender Beistandschaft</option>
                <option>Unterschrift fehlt</option>
                <option>Bei Einreichung der Liste bei der Gemeinde gestrichen</option>
                <option>Nicht identifizierbar</option>
                <option>Von gleicher Hand</option>
                <option>Nicht im Stimmregister</option>
                <option selected>Minderjährig</option>
                <option>Gestorben</option>
                <option>Nicht stimmberechtigt</option>
                <option>Falsches Geburtsdatum</option>
              </select>

            </td>
          </tr>
          <tr>
            <td>Dirk </td>
            <td>Schweitzer</td>
            <td>Pfaffacherweg 134,
              2556 Scheuren</td>
            <td>02.11.1990</td>
            <td class="text-right">
              <fa-icon [icon]="faCheckCircle" class="text-2xl text-green-500"></fa-icon>
            </td>
          </tr>-->
        </table>
      </div>
    </div>
  </div>
</div>
