<app-modal #modalComponent>
  <form [formGroup]="feedbackForm" (ngSubmit)="createRecord()">
    <!-- Vorname -->
    <label for="firstname" class="block mt-2 text-xs font-semibold text-gray-600">Vorname</label>
    <input
      id="firstname"
      type="text"
      name="firstname"
      autocomplete="given-name"
      formControlName="vorname"
      class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
      required
    />

    <!-- Nachname -->
    <label for="lastname" class="block mt-2 text-xs font-semibold text-gray-600">Nachname</label>
    <input
      id="lastname"
      type="text"
      name="lastname"
      autocomplete="family-name"
      formControlName="nachname"
      class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
      required
    />

    <!-- Email -->
    <label for="email" class="block mt-2 text-xs font-semibold text-gray-600">E-Mail</label>
    <input
      id="email"
      type="email"
      name="email"
      autocomplete="email"
      formControlName="email"
      class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
      required
    />

    <!-- Funnel -->
    <label for="feedback" class="block mt-2 text-xs font-semibold text-gray-600">Feedback</label>
    <textarea
      id="feedback"
      name="feedback"
      rows="3"
      type="text"
      formControlName="feedback"
      type="text"
      class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
    ></textarea>

    <ng-container *ngTemplateOutlet="toolbar"></ng-container>
  </form>
</app-modal>

<ng-template #toolbar>
  <div class="py-3 flex justify-end">
    <button
      (click)="close()"
      type="button"
      class="rounded-md shadow-lg sm:tracking-wider mx-2 border border-gray-300 px-4 py-2 bg-white text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
    >
      Schliessen
    </button>

    <app-button type="submit" [small]="true" [uppercase]="false" [disable]="feedbackForm.invalid">Absenden</app-button>
  </div>
</ng-template>
