<app-header></app-header>

<!-- Owlly Hero -->
<div class="shadow-xl bg-gray-50 dark:bg-gray-800 mb-8">
    <div class="flex gap-6 grid grid-cols-1 md:grid-cols-2 mx-auto max-w-screen-xl px-6 pt-4">
        
        <img  class="flex-grow" src="../../../assets/header.png" alt="">
        
        <div class="hero-card rounded flex-shrink">
            <div class="p-8">
                    <h1 class="text-4xl font-bold text-white">Jetzt Kampagne starten</h1>
                    <p class="text-xl text-white pt-4">Unterschriften sammeln
                       <br> im 21. Jahrhundert - effizient und sicher!</p>
            </div>
            <div class="p-8 flex justify-center items-center md:items-start md:justify-start">
                <app-button>Kampagne starten</app-button>
            </div>
        </div>
    </div>
    <div class="p-6 mx-auto max-w-screen-xl">
        <h1 class="text-2xl sm:text-6xl font-bold">Enabling digital societies.</h1>
    </div>
</div>

<div class="flex grid grid-cols-1 md:grid-cols-2 mx-auto max-w-screen-xl px-6 py-4 gap-6">
   
    <app-card 
        class="flex-1" 
        type="owlly" 
        title="E-Collecting erklärt" 
        [showButton]="true" 
        text="Das elektronische Sammeln von Unterschriften für politische Volksbegehren wie Initiativen oder Referenden bietet Vorteile für alle!" 
        buttonText="mehr">
    </app-card>
    <app-card 
        class="flex-1" 
        type="owlly" 
        title="Unsere Mission"
        text="Wir bieten Lösungen und überwinden Grenzen! Für ein erfolgreiches und ganzheitliches E-Collecting braucht es alle Stakeholder."
        buttonText= "mehr"
        [showButton]="true" 
    >
    </app-card>
</div>

<app-textblock type="owlly" title="Fortschritt in der Schweiz" ></app-textblock>


<app-textblock type="owlly" title="E-Collecting fördern - wie vorgehen?" ></app-textblock>
<div class="flex grid grid-cols-1 md:grid-cols-3 mx-auto max-w-screen-xl px-6 py-4 gap-6">
   
    <app-card 
        class="flex-1" 
        type="admin" 
        title="Verwaltung" 
        [showButton]="true" 
        text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." 
        buttonText="mehr"
        >
    </app-card>
    <app-card 
        class="flex-1" 
        type="campaigner" 
        title="Campaigner/Partei"
        text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
        buttonText= "mehr"
        [showButton]="true" 
    >
    </app-card>
    <app-card 
        class="flex-1" 
        type="citizen" 
        title="Bürger/in"
        text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
        buttonText= "mehr"
        [showButton]="true" 
    >
    </app-card>
</div>


<!-- <div class="slider">
    <div class="slide bg-blue-500" id="slide-1">1</div>
    <div class="slide bg-red-500" id="slide-2">2</div>
    <div class="slide bg-green-500" id="slide-3">3</div>
    <div class="slide bg-yellow-500" id="slide-4">4</div>
    <div class="slide bg-blue-500" id="slide-5">5</div>
  </div> -->


<div style="height: 500px"></div>
<app-footer></app-footer>
