<app-header></app-header>

<main class="dark:bg-black">
    <div class="mx-auto max-w-screen-xl px-6 pt-20">
        <h1 class="font-bold text-6xl md:text-8xl dark:text-white">Ups...</h1>
        <h2 class="font-light text-2xl dark:text-white pt-6">Error 404: Wir konnten diese Seite nicht finden 🤔</h2>
        <div class="flex mx-auto items-center justify-center max-w-screen-sm pt-12">
            <img src="../../../assets/404.svg" width="100%" alt="">
        </div>
    </div>
</main>

<app-footer></app-footer>
