<app-header></app-header>

<app-pagehero imgName="zurich-2" type="plain" [diamonds]="true">
  <h1 class="text-4xl md:text-6xl font-light dark:text-white">Fortschritt in der Schweiz:<span class="text-4xl md:text-6xl font-bold"> Kantone</span></h1>
  <!-- Subtitle -->
  <h2 class="text-xl dark:text-white">
    In verschiedenen Kantonen gab es bereits E-Collecting Vorstösse. Es ist zu erwarten, dass Ihnen in der Umsetzung von E-Collecting eine Pionierrolle zukommt.
  </h2>

  <div class="flex grid grid-cols-1 md:grid-cols-2 mx-auto max-w-screen-xl py-2">
    <app-textblock type="owlly" title="Was bisher geschah" text="Wähle in der Liste deinen Kanton aus um mehr zu erfahren."></app-textblock>
  </div>
  <div class="mx-auto max-w-screen-xl px-6 py-2">
    <h2 class="font-bold text-2xl dark:text-white">Ist dein Kanton bereit?</h2>
    <div>
      <select
        name="canton"
        id="cantonSelect"
        [(ngModel)]="cantonSelect"
        class="
          text-2xl
          p-2
          mt-4
          w-full
          font-bold
          focus:outline-none
          focus:bg-gray-200
          dark:text-white
          bg-gray-100
          dark:bg-gray-800
          dark:focus:bg-gray-700
          focus:shadow-inner
        "
      >
        <option value="bl">Basel-Landschaft</option>
        <option value="bs">Basel-Stadt</option>
        <option value="be">Bern</option>
        <option value="sh">Schaffhausen</option>
        <option value="sg">St. Gallen</option>
        <option value="zg">Zug</option>
        <option value="zh">Zürich</option>
      </select>
    </div>

    <div class="pt-6 dark:text-white text-xl font-light" style="min-height: 300px">
      <div *ngIf="cantonSelect == 'be'">
        <p>
          Die Motion "Volksrechte weiter digitalisieren – auch ohne E-Voting" wurde vom Regierungsrat zwar abgelehnt, wird nun aber in der Frühlingssession 2021
          vom Grossen Rat neu beraten. <br />
          <a href="https://www.gr.be.ch/gr/de/index/geschaefte/geschaefte/suche/geschaeft.gid-7aecc7b41ddd48c4a3b9c1e7726ac3bd.html"
            >Link: Ratsinfo Kanton Bern</a
          >
          <br />
          Update: 11.03.2021: Der Grosse Rat hat die Motion "173-2020 von Arx (Schliern b. Köniz, glp) Volksrechte weiter digitalisieren – auch ohne E-Voting"
          punktweise angenommen.
          <a
            href="https://www.gr.be.ch/etc/designs/gr/media.cdwsbinary.DOKUMENTE.acq/073d4f39751a45628d28b0cfdefd5258-332/4/PDF/2020.RRGR.227-GR-Beschlussdokument-DF-222334.pdf"
            >Link GR-Beschlussdokument</a
          >
        </p>
      </div>
      <div *ngIf="cantonSelect == 'bs'">
        <p>
          Im Unterschied zu seinen Vorgängern, wurde im Kanton Basel-Stadt ein ganz anderer Weg verfolgt. Dort wurde als Grundlage das Behindertenrechtegesetz
          zur Einführung von E-Collecting genommen. Gemäss Artikel §5a kann der Regierungsrat Versuche zur Unterzeichnung von Initiativen und Referenden auf
          elektronischem Wege fördern. Von diesem Artikel wurde in Basel-Stadt bis heute jedoch noch kein Gebrauch gemacht.
        </p>
      </div>
      <div *ngIf="cantonSelect == 'bl'">
        <p>
          Motion Tania Cucè: Im Kanton Basel-Landschaft wird der Regierungsrat beauftragt, die nötigen gesetzlichen Grundlagen zu schaffen, die es ermöglichen,
          Unterschriften für Volksinitiativen und fakultative Referenden elektronisch zu sammeln.
          <br />
          <a href="https://baselland.talus.ch/de/politik/cdws/dok_geschaeft.php?did=90aed894c97c45129248c5739effa115-332&filename=Text_Motion&v=2&r=PDF&typ=pdf"
            >Link Parlamentarischer Vorstoss (Motion Tania Cucè) 2021/264</a
          >
        </p>
        <p>
          Postulat Saskia Schenker: Die FDP-Fraktion bittet den Regierungsrat auf Initiative der Jungfreisinnigen Baselland zu prüfen und zu berichten, ob und
          wie ein elektronisches Sammeln von Unterschriften für Volksbegehren auf kantonaler Ebene während einer Pilotphase von fünf Jahren eingeführt werden
          kann, wie die technische Infrastruktur dafür bereitgestellt werden könnte und ob und wie bei einer Einführung eines E-Collecting-Systems die benötigte
          Anzahl Unterschriften für kantonale Volksbegehren angepasst werden sollte.
          <br />
          <a href="https://baselland.talus.ch/de/dokumente/geschaeft/e6302547456449468ce5379197fba8be-332"
            >Link: Parlamentarischer Vorstoss (Postulat) 2021/334</a
          >
          <br />
          <a
            href="https://www.baselland.ch/politik-und-behorden/landrat-parlament/geschafte/geschaefte-ab-juli-2015?i=https%3A//baselland.talus.ch/de/politik/cdws/geschaeft.php%3Fgid%3D4627c652de2b4d6eacbab31383980e98"
            >Link 2: Parlamentarischer Vorstoss (Postulat) 2021/334</a
          >
        </p>
        <p>
          Wahrnehmung der politischen Rechte (Aufgaben und Finanzplan 2022-2025)
          https://www.baselland.ch/politik-und-behorden/direktionen/finanz-und-kirchendirektion/finanzverwaltung/aufgaben-und-finanzplan-afp/archiv/afp/afp-20222025.pdf/@@download/file/AFP%2020222025.pdf
          Alle stimmberechtigten Personen im Kanton sollen ihre politischen Rechte einfach und barrierefrei wahrnehmen können. Der Kanton Basel-Landschaft will
          die diversen Kommu- nikationskanäle und -mittel so bespielen, dass eine objektive und freie Willensbildung sowie eine breite Beteiligung bei Wahlen
          und Abstimmungen sichergestellt sind. Wahl- und Abstimmungsergebnisse sollen effizient und auf der Basis neuster Sicherheitsstan- dards ermittelt
          werden. Zudem wird die Möglichkeit geprüft, neue Instrumente wie E-Collecting und E-Voting einzuführen. Dabei werden die Entwicklungen des Bundes in
          diesbezügliche Überlegungen miteinbezogen.
        </p>
      </div>
      <div *ngIf="cantonSelect == 'sh'">
        <p>
          Obwohl der Kanton Schaffhausen im Zuge von «Vote électronique» Erfahrungen mit E-Voting gesammelt und in diesem Zusammenhang das Stimmregister für
          Auslandschweizerinnen und -Schweizer zentralisiert hat, wurde das Thema E-Collecting nicht von Politikern, sondern über eine Volksmotion (Art. 70a SHR
          171.110) im Jahr 2020 auf die Politische Agenda gebracht. Im Gegensatz zu den anderen Kantonen hat Schaffhausen zudem im Jahr 2018 (Kanton
          Schaffhausen, 2020) die elektronische Identität eingeführt und somit wichtige Voraussetzungen im Bereich Infrastruktur bereits geschaffen. Die
          Volksmotion «Mehr Demokratie für Schaffhausen - einfach und sicher: Volksbegehren auch elektronisch unterschreiben (E-Collecting)» wird im Jahr 2021
          vom Kantonsparlament behandelt.<br />
          Update vom 25.01.2021: Die Volksmotion wurde trotz der Empfehlung der Regierung vom Parlament mit 33:17 Stimmen als erheblich erklärt.<br />
          <br />
          Update vom 22.12.2023: Der Kanton Schaffhausen veröffentlicht den <a href="https://sh.ch/CMS/Webseite/Kanton-Schaffhausen/Beh-rde/Regierung/Staatskanzlei-14033323-DE.html">Bericht</a> zur Volksmotion "Mehr Demokratie für Schaffhausen - einfach und sicher: Volksbegehren auch elektronisch unterschreiben (E-Collecting)".<br />
          <br />
          Update vom 30.08.2024: Der Kanton Schaffhausen veröffentlicht den <a href="https://sh.ch/CMS/Webseite/Kanton-Schaffhausen/Beh-rde/Parlament/Der-Kantonsrat/Portal-Kantonsrat---Ratsbetrieb/Vorlagen-Parlament-15351371-DE.html">Bericht und Antrag</a> der Spezialkommission 2024/1 vom 29. Mai 2024
          <a href="https://sh.ch/CMS/Webseite/Kanton-Schaffhausen/Beh-rde/Parlament/Der-Kantonsrat/Portal-Kantonsrat---Ratsbetrieb-5125437-DE.html"
            >Link: Volksmotion Schaffhausen</a
          >
        </p>
      </div>
      <div *ngIf="cantonSelect == 'sg'">
        <p>
          Ähnlich wie im Kanton Zürich, ist der Startpunkt für E-Collecting im Kanton St. Gallen eine Interpellation (51.18.22 Kanton St.Gallen als
          E-Collecting-Pionier). Diese wurde 2018 im Kantonsrat behandelt. Kurze Zeit später folgte auf die beantwortete Interpellation eine Motion zur
          Einführung von E-Collecting. Am 27.11.2018 nimmt die Kantonsregierung die Motion (42.18.14 Einführung von E-Collecting im Kanton St.Gallen) mit einer
          grossen Mehrheit an. Die Motion verfolgt dabei das Ziel, dringende Fragen im Bereich der gesetzlichen Grundlagen, Beanspruchung des Politischen
          Systems und Ausbau einer IT-Basisinfrastruktur zu beantworten.<br />
          <a href="https://www.ratsinfo.sg.ch/geschaefte/3606">Link: Ratsinfo Kanton St. Gallen</a>
        </p>
      </div>
      <div *ngIf="cantonSelect == 'zg'">
        <p>
          Im Kanton Zug wurde die Motion #3284 von Tabea Zimmermann Gibson, Luzian Franzini und Anastas Odermatt betreffend "mehr Demokratie: Ermöglichung von
          elektronischen Unterschriftensammlungen (E-Collecting) für Volksbegehren auf kantonaler und kommunaler Ebene" am 30.09.2021 vom Kantonsrat an den
          Regierungsrat überwiesen. Neben dem Kanton Schaffhausen ein sehr änliches Vorhaben mit optimalen Rahmenbedingungen (beides Pioniere mit der
          elektronischen Identität).
          <br />
          <a href="https://kr-geschaefte.zug.ch/gast/geschaefte/2278">Link: Geschäftsverzeichnis - Kanton Zug</a>
        </p>
        <p>
          Update 13.09.2022, Zug: Gestützt auf die vorstehenden Ausführungen beantragen wir Ihnen die Motion von Tabea Zimmermann Gibson, Luzian Franzini und
          Anastas Odermatt betreffend mehr Demokratie: Ermöglichung von elektronischen Unterschriftensammlungen (E-Collecting) für Volksbegehren auf kantonaler
          und kommunaler Ebene (Vorlage Nr. 3284.1 - 16686) sei nicht erheblich zu erklären.
        </p>
      </div>
      <div *ngIf="cantonSelect == 'zh'">
        <p>
          Als E-Voting Pionierkanton, sah sich der Kanton bereits im Jahr 2009 mit einer Interpellation zum Thema E-Collecting konfrontiert. (24/2009 -
          Interpellation (Pilotprojekt e-collecting) ). Die fehlende Harmonisierung des Stimmregisters, eine noch wenig bekannte elektronische Signatur und die
          damalige E-Government Strategie und das Vote électronique auf Bundesebene führten dazu, dass E-Collecting nicht weiterverfolgt wurde. So dauerte 11
          Jahre, bis im Jahr 2019 eine Motion das Thema wieder auf die Agenda brachte (5/2019 Einführung e-Collecting, elektronische Unterschriftensammlung für
          Initiativen und Referenden im Internet oder auf mobilen Endgeräten). Auch Jahre später scheitert das Projekt am Fehlen einer elektronischen Identität
          und am Projekt „Vote électronique“, welches E-Collecting erst in einer dritten Projektphase vorsieht. Zudem hat der Kanton Zürich aus
          Ressourcengründen die Arbeiten an E-Collecting 2017 eingestellt. Das Nichtberücksichtigen der nachgelagerten E-Collectingprozesse, machen der Motion
          einen weiteren Strich durch die Rechnung.<br />
          <a href="https://www.zh.ch/de/politik-staat/gesetze-beschluesse/beschluesse-des-regierungsrates/rrb/regierungsratsbeschluss-423-2009.html"
            >Link: Ratsinfo Kanton Zürich</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="flex grid grid-cols-1 md:grid-cols-2 mx-auto max-w-screen-xl py-2">
    <div *ngIf="cantonSelect == 'sh'">
      <app-textblock type="owlly" title="Ausblick" text="Der Regierungsrat behandelt nun die vom Parlament für erheblich erklärte Volksmotion."></app-textblock>
    </div>
  </div>

  <app-footer></app-footer>
</app-pagehero>
