<app-header></app-header>

<app-pagehero imgName="zurich-2" type="plain" [diamonds]="true">
  <h1 class="text-4xl md:text-6xl font-light dark:text-white">Fortschritt in der Schweiz:<span class="text-4xl md:text-6xl font-bold"> Kantone</span></h1>
  <!-- Subtitle -->
  <h2 class="text-xl dark:text-white">
    In verschiedenen Kantonen gab es bereits E-Collecting Vorstösse. Es ist zu erwarten, dass Ihnen in der Umsetzung von E-Collecting eine Pionierrolle zukommt.
  </h2>

  <div class="flex grid grid-cols-1 md:grid-cols-2 mx-auto max-w-screen-xl py-2">
    <app-textblock type="owlly" title="Was bisher geschah" text="Wähle in der Liste deinen Kanton aus um mehr zu erfahren."></app-textblock>
  </div>
  <div class="mx-auto max-w-screen-xl px-6 py-2">
    <h2 class="font-bold text-2xl dark:text-white">Ist dein Kanton bereit?</h2>
    <div>
      <select
        name="canton"
        id="cantonSelect"
        [(ngModel)]="cantonSelect"
        class="
          text-2xl
          p-2
          mt-4
          w-full
          font-bold
          focus:outline-none
          focus:bg-gray-200
          dark:text-white
          bg-gray-100
          dark:bg-gray-800
          dark:focus:bg-gray-700
          focus:shadow-inner
        "
      >
        <option value="bl">Basel-Landschaft</option>
        <option value="bs">Basel-Stadt</option>
        <option value="be">Bern</option>
        <option value="ge">Genf</option>
        <option value="ow">Obwalden</option>
        <option value="sh">Schaffhausen</option>
        <option value="sg">St. Gallen</option>
        <option value="zg">Zug</option>
        <option value="zh">Zürich</option>
      </select>
    </div>

    <div class="pt-6 dark:text-white text-xl font-light" style="min-height: 300px">
      <div *ngIf="cantonSelect == 'bl'">
        <p>
          Motion Tania Cucè: Im Kanton Basel-Landschaft wird der Regierungsrat beauftragt, die nötigen gesetzlichen Grundlagen zu schaffen, die es ermöglichen,
          Unterschriften für Volksinitiativen und fakultative Referenden elektronisch zu sammeln.
        </p>
        <p>
          <b
            >Parlamentarischer Vorstoss (Motion Tania Cucè) 2021/264 (<a
              href="https://baselland.talus.ch/de/politik/cdws/geschaeft.php?gid=5afe4509bc854ea6b270f681d6630056"
              >link</a
            >)</b
          >
        </p>
        <br />
        <p><b>Dokumente</b></p>
        <ul>
          <li>
            - Parlamentarischer Vorstoss 22.04.2021
            <a href="https://baselland.talus.ch/de/dokumente/geschaeft/90aed894c97c45129248c5739effa115-332">(download)</a>
          </li>
          <li>- Stellungnahme 04.01.2022 <a href="https://baselland.talus.ch/de/dokumente/geschaeft/fdbec937ea7d419e93dd304e1fe50338-332">(download)</a></li>
          <li>
            - Beschluss des Landrats vom 24.03.2022
            <a href="https://baselland.talus.ch/de/dokumente/geschaeft/a39dbecfd3f84d1d810dcf8b85511b9d-332">(download)</a>
          </li>
          <li>
            - Beschluss des Landrats vom 19.05.2022
            <a href="https://baselland.talus.ch/de/dokumente/geschaeft/fa7befbf56704d5ba72958c356920806-332">(download)</a>
          </li>
        </ul>

        <br />
        <p>
          Postulat Saskia Schenker: Die FDP-Fraktion bittet den Regierungsrat auf Initiative der Jungfreisinnigen Baselland zu prüfen und zu berichten, ob und
          wie ein elektronisches Sammeln von Unterschriften für Volksbegehren auf kantonaler Ebene während einer Pilotphase von fünf Jahren eingeführt werden
          kann, wie die technische Infrastruktur dafür bereitgestellt werden könnte und ob und wie bei einer Einführung eines E-Collecting-Systems die benötigte
          Anzahl Unterschriften für kantonale Volksbegehren angepasst werden sollte.
        </p>
        <p>
          <b
            >Postulat 2021/334: Einführung eines E-Collecting-Systems auf kantonaler Ebene (<a
              href="https://baselland.talus.ch/de/politik/cdws/geschaeft.php?gid=4627c652de2b4d6eacbab31383980e98"
              >link</a
            >)</b
          >
        </p>
        <br />
        <p><b>Dokumente</b></p>
        <ul>
          <li>- Postulat vom 20.05.2021 <a href="https://baselland.talus.ch/de/dokumente/geschaeft/e6302547456449468ce5379197fba8be-332">(download)</a></li>
          <li>
            - Stellungnahme vom 04.01.2022 <a href="https://baselland.talus.ch/de/dokumente/geschaeft/ac00bd05bd444eec9a2b958c1959d406-332">(download)</a>
          </li>
          <li>
            - Beschluss Landrat vom 19.05.2022 <a href="https://baselland.talus.ch/de/dokumente/geschaeft/ad811051468d443ca1137ec74373c1d2-332">(download)</a>
          </li>
        </ul>

        <br />
        <br />
        <p>
          Mit dem Projekt «E-Collecting für kantonale Unterschriftensammlungen» wurde im Rahmen einer Studie geprüft, welche Voraussetzungen geschaffen werden
          müssen, um E-Collecting im Kanton zu ermöglichen. Hierbei stand die elektronische Identifizierung im Fokus, für die der Einsatz der SwissID zu prüfen
          war. Die Studie sollte eine Basis schaffen, wie E-Collecting im Kanton Basel-Landschaft, aber auch in anderen Kantonen zum Einsatz kommen kann.
        </p>
        <p>
          <b>
            E-Collecting für kantonale Unterschriftensammlungen (E-Partizipation) (<a
              href="https://www.digitale-verwaltung-schweiz.ch/innovationen-und-e-partizipationsprojekte"
              >link</a
            >)</b
          >
        </p>
        <br />
        <p><b>Dokumente</b></p>
        <ul>
          <li>
            - Studie zum Thema E-Collecting
            <a href="https://www.digitale-verwaltung-schweiz.ch/application/files/6616/9564/5884/20230828_sfdd_auslegeordnung_dvs_ktbl.pdf">(download)</a>
          </li>
        </ul>
      </div>

      <!-- Basel Stadt-->
      <div *ngIf="cantonSelect == 'bs'">
        <p>
          Im Unterschied zu seinen Vorgängern, wurde im Kanton Basel-Stadt ein ganz anderer Weg verfolgt. Dort wurde im Rahmen des Behindertenrechtegesetz (BRG)
          das Gesetz betreffend Initiative und Referendum (IRG) mit einem entsprechenden Artikel angepasst. Von diesem Artikel wurde in Basel-Stadt bis heute
          jedoch noch kein Gebrauch gemacht.
        </p>
        <br />
        <p><b>Gesetztesartikel aus 131.100 §5a Elektronische Unterzeichnung von Initiativen und Referenden</b></p>
        <p>
          Der Regierungsrat kann Versuche zur Unterzeichnung von Initiativen und Referenden auf elektronischem Wege fördern. Er genehmigt diese unter der
          Voraussetzung, dass alle wirksamen und angemessenen Massnahmen ergriffen werden, um die Kontrolle der Stimmberechtigung, das Stimmgeheimnis und die
          korrekte Zuordnung aller Unterschriften zu gewährleisten und um die Gefahr gezielten oder systematischen Missbrauchs ausschliessen zu können.
        </p>

        <p><b>Links</b></p>
        <ul>
          <li>
            - SG 140.500 - Gesetz über die Rechte von Menschen mit Behinderungen (Behindertenrechtegesetz, BRG)
            <a href="https://www.gesetzessammlung.bs.ch/app/de/texts_of_law/140.500">link</a>
          </li>
          <li>
            - SG 131.100 - Gesetz betreffend Initiative und Referendum (IRG) <a href="https://www.gesetzessammlung.bs.ch/app/de/texts_of_law/131.100">link</a>
          </li>
        </ul>
      </div>

      <!-- BERN -->
      <div *ngIf="cantonSelect == 'be'">
        <p>
          Die Motion "Volksrechte weiter digitalisieren – auch ohne E-Voting" wurde vom Regierungsrat zwar abgelehnt, wird nun aber in der Frühlingssession 2021
          vom Grossen Rat neu beraten. <br />
          <a href="https://www.gr.be.ch/gr/de/index/geschaefte/geschaefte/suche/geschaeft.gid-7aecc7b41ddd48c4a3b9c1e7726ac3bd.html"
            >Link: Ratsinfo Kanton Bern</a
          >
        </p>
        <br />
        <p>
          Update: 11.03.2021: Der Grosse Rat hat die Motion "173-2020 von Arx (Schliern b. Köniz, glp) Volksrechte weiter digitalisieren – auch ohne E-Voting"
          punktweise angenommen.
          <a
            href="https://www.gr.be.ch/etc/designs/gr/media.cdwsbinary.DOKUMENTE.acq/073d4f39751a45628d28b0cfdefd5258-332/4/PDF/2020.RRGR.227-GR-Beschlussdokument-DF-222334.pdf"
            >Link GR-Beschlussdokument</a
          >
        </p>
        <br />
        <p>
          <b
            >Einführung von E-Collecting. Bericht in Erfüllung von Ziffer 2 und 3 des Postulats 173-2020 von Arx (Spiegel b. Bern, glp) sowie des Postulats
            131-2021 Zimmerli (Bern, FDP) (<a
              href="https://www.gr.be.ch/de/start/geschaefte/geschaeftssuche/geschaeftsdetail.html?guid=4a3f0486369e40f691f5ceefdb838de9"
              >link</a
            >)</b
          >
        </p>
        <br />
        <p><b>Dokumente</b></p>
        <ul>
          <li>
            - Regierungsratsbeschluss 01.05.2024 RRB: RRB-01.05.2024-de (PDF)
            <a href="https://www.rrgr-service.apps.be.ch/api/gr/documents/document/6b4946ba03c04d1eb978fa01ac8a38f7-332/7/RRB-01.05.2024-de.pdf">(download)</a>
          </li>
          <li>
            - Bericht des Regierungsrates vom 01.05.2024 Beilage: Beilage-Bericht-01.05.2024-de (PDF)
            <a href="https://www.rrgr-service.apps.be.ch/api/gr/documents/document/132badafd7344f41a52000a60671b6e3-332/16/Beilage-Bericht-01.05.2024-de.pdf"
              >(download)</a
            >
          </li>
          <li>
            - Planungserklärung vom 14.08.2024
            <a
              href="https://www.rrgr-service.apps.be.ch/api/gr/documents/document/6e1e0901d6cf491f9a9dae22a38dc284-332/3/Traktandum_16%20-%20Planungserklaerung%20-%20Version%201%20-%20Einfuehrung%20von%20E-Collecting.%20Bericht%20in%20Erf%C3%BCllung%20von%20Ziffer%202%20und%203%20des%20Postulats%20173-2020%20von%20Arx%20(Spiegel%20b.%20Bern,%20glp)%20sowie%20des%20Postulats%20131-2021%20Zimmerli%20(Bern,%20FDP).pdf"
              >(download)</a
            >
          </li>

          <li>
            - Herbstsession (Video)<a href="https://www.tagblatt.gr.be.ch/shareparl?agendaItemUid=ba68ec28889240ceadc2a8ff825007af&scroll=true">(download)</a>
          </li>

          <li>
            - Abstimmungsprotokoll mit Namensliste
            <a
              href="https://www.rrgr-service.apps.be.ch/api/gr/documents/document/0ef14488ada14f00bd342eb91f57c1a8-332/1/Abstimmungsprotokoll_-%20Herbstsession-2024.pdf"
              >(download)</a
            >
          </li>

          <li>
            - Beschlussdokument vom 03.09.2024<a
              href="https://www.rrgr-service.apps.be.ch/api/gr/documents/document/568f8b2408ba4474b97b081fda962e15-332/4/Beschlussdokument_-%202024.09.03%20-%2009.00%20-%20de.pdf"
              >(download)</a
            >
          </li>
          <li>
            - Grossratsbeschluss vom 03.09.2024<a
              href="https://www.rrgr-service.apps.be.ch/api/gr/documents/document/fb7205072e44453cbaa428f08a2ac9d6-332/3/GRB_-%20Einfuehrung%20von%20E-Collecting.%20Bericht%20in%20Erf%C3%BCllung%20von%20Ziffer%202%20und%203%20des%20Postulats%20173-2020%20von%20Arx%20(Spiegel%20b.%20Bern,%20glp)%20sowie%20des%20Postulats%20131-2021%20Zimmerli%20(Bern,%20FDP)%20-%20Herbstsession-2024%20-%20de.pdf"
              >(download)</a
            >
          </li>
        </ul>
      </div>

      <!-- Genf -->
      <div *ngIf="cantonSelect == 'ge'">
        <p>
          Pour finir, notre Conseil tient également à rappeler les travaux en cours concernant la mise en œuvre d'un projet de système dématérialisé de récolte
          de signatures à l'appui de demandes de référendums et initiatives sur les plans cantonal et communal (e-collecting) qui pourrait ainsi contribuer à
          faciliter l'exercice des droits politiques et limiter les effets d'une future situation extraordinaire qui restreindraient la récolte des signatures.
        </p>
        <br />
        >
        <p><b>Dokumente</b></p>
        <ul>
          <li>- Rapport du Conseil d’Etat de 29 septembre 2021 <a href="https://ge.ch/grandconseil/data/texte/M02696B.pdf">(download)</a></li>
        </ul>
      </div>

      <!-- OBWALDEN -->
      <div *ngIf="cantonSelect == 'ow'">
        <p>
          Am 2. Dezember 2022 wurde von Kantonsrat Josef Allenbach und weiteren Mitunterzeichnenden ein Postulat eingereicht, das sich mit der Förderung
          digitaler Partizipationsmöglichkeiten, insbesondere im Bereich des „e-Collecting“, im Kanton Obwalden auseinandersetzt. Das Postulat zielt darauf ab,
          das Potenzial der Digitalisierung zur Vereinfachung administrativer Prozesse und zur Stärkung der Bürgerbeteiligung zu nutzen. Trotz des grossen
          Potenzials der Digitalisierung, das in verschiedenen Bereichen erkannt wird, hat das Parlament entschieden, das Postulat mit 40 zu 6 Stimmen
          abzulehnen, da bereits auf Bundesebene zu diesem Thema gearbeitet wird.
        </p>
        <br />
        <p>
          <b>Geschäft im Kantonsrat: 53.21.02 (<a href="https://www.ow.ch/politbusiness/87371">link</a>)</b>
        </p>
        <br />
        <p><b>Dokumente</b></p>
        <ul>
          <li>
            - Postulat vom 02.12.2021
            <a
              href="https://www.ow.ch/_docn/285056/Postulat_betreffend_digitaler_Moeglichkeiten_zur_politischen_Partizipation_insbesondere_im_Bereich_des_e-collecting_im_Kanton_Obwalden.pdf"
              >(download)</a
            >
          </li>
          <li>
            - Beantwortung des Regierungsrats vom 15.02.2022
            <a href="https://www.ow.ch/_docn/286591/20220215_Beantwortung_des_Regierungsrats.pdf">(download)</a>
          </li>
          <li>- Bericht Kantonsratssitzung vom 24.03.2022 <a href="https://www.ow.ch/_docn/301931/20220324_Wortprotokoll_Kantonsrat.pdf">(download)</a></li>
        </ul>
      </div>

      <!-- ST. GALLEN -->
      <div *ngIf="cantonSelect == 'sg'">
        <p>
          Ähnlich wie im Kanton Zürich, ist der Startpunkt für E-Collecting im Kanton St. Gallen eine Interpellation (51.18.22 Kanton St.Gallen als
          E-Collecting-Pionier). Diese wurde 2018 im Kantonsrat behandelt. Kurze Zeit später folgte auf die beantwortete Interpellation eine Motion zur
          Einführung von E-Collecting. Am 27.11.2018 nimmt die Kantonsregierung die Motion (42.18.14 Einführung von E-Collecting im Kanton St.Gallen) mit einer
          grossen Mehrheit an. Die Motion verfolgt dabei das Ziel, dringende Fragen im Bereich der gesetzlichen Grundlagen, Beanspruchung des Politischen
          Systems und Ausbau einer IT-Basisinfrastruktur zu beantworten.<br />
          <a href="https://www.ratsinfo.sg.ch/geschaefte/3606">Link: Ratsinfo Kanton St. Gallen</a>
        </p>

        <p>
          <b>
            Kanton sucht Anbieter für E-Collecting-Plattform (<a
              href="https://www.sg.ch/news/sgch_allgemein/2023/06/kanton-sucht-anbieter-fuer-e-collecting-plattform.html"
              >link</a
            >)</b
          >
        </p>
        <br />

        <p>
          <b
            >Geschäft im Kantonsrat: 42.18.14 Einführung von E-Collecting im Kanton St.Gallen (<a href="https://www.ratsinfo.sg.ch/geschaefte/3606">link</a>)</b
          >
        </p>
        <br />
        <p><b>Dokumente</b></p>
        <ul>
          <li>
            - Wortlaut vom 12. Juni 2018
            <a
              href="https://www.ratsinfo.sg.ch/geschaefte/3606?documentTitle=Wortlaut%20vom%2012.%20Juni%202018&documentUrl=%2Fmedia%2Fdocuments%2Fpublished%2Fe24b57a6-ff20-4086-bc09-bbdd5d6aa25a_2P1xE9T.pdf#documents"
              >(download)</a
            >
          </li>
          <li>
            - Geänderter Wortlaut vom 27. November 2018
            <a
              href="https://www.ratsinfo.sg.ch/geschaefte/3606?documentTitle=Ge%C3%A4nderter%20Wortlaut%20vom%2027.%20November%202018&documentUrl=%2Fmedia%2Fdocuments%2Fpublished%2F73fa5513-d050-4c6e-8262-db57dcc47658_OleOd20.pdf#documents"
              >(download)</a
            >
          </li>
          <li>
            - Antrag der Regierung vom 4. September 2018
            <a
              href="https://www.ratsinfo.sg.ch/geschaefte/3606?documentTitle=Antrag%20der%20Regierung%20vom%204.%20September%202018&documentUrl=%2Fmedia%2Fdocuments%2Fpublished%2Fcbe0108d-8379-49d9-8ac3-d2bb20d95440_usif80u.pdf#documents"
              >(download)</a
            >
          </li>

          <li>Abstimmung <a href="https://www.ratsinfo.sg.ch/gremium/468/abstimmungen/5661">(Resultat)</a></li>
        </ul>

        <p>
          <b
            >Geschäft im Kantonsrat: 51.21.44 E-Collecting: Hat die Regierung die Konsequenzen im Griff? (<a
              href="https://www.ratsinfo.sg.ch/gremium/468/geschaefte/5119#overview"
              >link</a
            >)</b
          >
        </p>
        <br />
        <p><b>Dokumente</b></p>
        <ul>
          <li>
            - Schriftliche Antwort der Regierung vom 24. August 2021
            <a
              href="https://www.ratsinfo.sg.ch/gremium/468/geschaefte/5119?documentTitle=Schriftliche%20Antwort%20der%20Regierung%20vom%2024.%20August%202021&documentUrl=%2Fmedia%2Fdocuments%2Fpublished%2F69889fce-190c-4c01-a7f6-27fc1acc4a54.pdf#documents"
              >(download)</a
            >
          </li>
          <li>
            - Wortlaut vom 19. April 2021
            <a
              href="https://www.ratsinfo.sg.ch/gremium/468/geschaefte/5119?documentTitle=Wortlaut%20vom%2019.%20April%202021&documentUrl=%2Fmedia%2Fdocuments%2Fpublished%2F95baae0c-9bdb-43c8-838a-2ed49fbc8f4a.pdf#documents"
              >(download)</a
            >
          </li>
        </ul>
      </div>
      <!-- SCHAFFHAUSEN -->
      <div *ngIf="cantonSelect == 'sh'">
        <p>
          Obwohl der Kanton Schaffhausen im Zuge von «Vote électronique» Erfahrungen mit E-Voting gesammelt und in diesem Zusammenhang das Stimmregister für
          Auslandschweizerinnen und -Schweizer zentralisiert hat, wurde das Thema E-Collecting nicht von Politikern, sondern über eine Volksmotion (Art. 70a SHR
          171.110) im Jahr 2020 auf die Politische Agenda gebracht. Im Gegensatz zu den anderen Kantonen hat Schaffhausen zudem im Jahr 2018 (Kanton
          Schaffhausen, 2020) die elektronische Identität eingeführt und somit wichtige Voraussetzungen im Bereich Infrastruktur bereits geschaffen. Die
          Volksmotion «Mehr Demokratie für Schaffhausen - einfach und sicher: Volksbegehren auch elektronisch unterschreiben (E-Collecting)» wird im Jahr 2021
          vom Kantonsparlament behandelt.<br />
          Update vom 25.01.2021: Die Volksmotion wurde trotz der Empfehlung der Regierung vom Parlament mit 33:17 Stimmen als erheblich erklärt.<br />
          <br />
          Update vom 22.12.2023: Der Kanton Schaffhausen veröffentlicht den
          <a href="https://sh.ch/CMS/Webseite/Kanton-Schaffhausen/Beh-rde/Regierung/Staatskanzlei-14033323-DE.html">Bericht</a> zur Volksmotion "Mehr Demokratie
          für Schaffhausen - einfach und sicher: Volksbegehren auch elektronisch unterschreiben (E-Collecting)".<br />
          <br />
          Update vom 30.08.2024: Der Kanton Schaffhausen veröffentlicht den
          <a
            href="https://sh.ch/CMS/Webseite/Kanton-Schaffhausen/Beh-rde/Parlament/Der-Kantonsrat/Portal-Kantonsrat---Ratsbetrieb/Vorlagen-Parlament-15351371-DE.html"
            >Bericht und Antrag</a
          >
          der Spezialkommission 2024/1 vom 29. Mai 2024
          <a href="https://sh.ch/CMS/Webseite/Kanton-Schaffhausen/Beh-rde/Parlament/Der-Kantonsrat/Portal-Kantonsrat---Ratsbetrieb-5125437-DE.html"
            >Link: Volksmotion Schaffhausen</a
          >
        </p>
        <br />
        <p>
          <b
            >Geschäft im Kantonsrat: 2020/1 (<a
              href="https://sh.ch/CMS/Webseite/Kanton-Schaffhausen/Beh-rde/Parlament/Der-Kantonsrat/Portal-Kantonsrat---Ratsbetrieb-5125437-DE.html"
              >link</a
            >)</b
          >
        </p>
        <br />
        <p><b>Dokumente</b></p>
        <ul>
          <li>- 01.07.2020 Volksmotion<a href="https://sh.ch/CMS/get/file/ef552bd0-025a-40bb-8095-9b984f1af0cb">(download)</a></li>
          <li>
            - 19.12.2023 ADS 23-159 Orientierungsvorlage zur Volksmotion 2020/1 betreffend «Mehr Demokratie in Schaffhausen - einfach und sicher: Volksbegehren
            auch elektronisch unterschreiben (E-Collecting). <a href="https://sh.ch/CMS/get/file/660d538e-01a5-42e5-a0c2-37674079ab67">(download)</a>
          </li>
          <li>
            - 29.05.2024 Seite | 1 Bericht und Antrag der Spezialkommission 2024/1 24-115 zur Volksmotion 2020/1 betreffend «Mehr Demokratie in Schaffhausen −
            Einfach und sicher: Volksbegehren auch elektronisch unterschreiben (E-Collecting)» (Orientierungsvorlage) vom 29. Mai 2024
            <a href="https://sh.ch/CMS/get/file/655c1ae1-30dc-4f79-b40c-184acbb62fc0">(download)</a>
          </li>
        </ul>
      </div>

      <!-- ZUG -->
      <div *ngIf="cantonSelect == 'zg'">
        <p>
          Im Kanton Zug wurde die Motion #3284 von Tabea Zimmermann Gibson, Luzian Franzini und Anastas Odermatt betreffend "mehr Demokratie: Ermöglichung von
          elektronischen Unterschriftensammlungen (E-Collecting) für Volksbegehren auf kantonaler und kommunaler Ebene" am 30.09.2021 vom Kantonsrat an den
          Regierungsrat überwiesen. Neben dem Kanton Schaffhausen ein sehr änliches Vorhaben mit optimalen Rahmenbedingungen (beides Pioniere mit der
          elektronischen Identität).
          <br />
          <a href="https://kr-geschaefte.zug.ch/gast/geschaefte/2278">Link: Geschäftsverzeichnis - Kanton Zug</a>
        </p>
        <p>
          Update 13.09.2022, Zug: Gestützt auf die vorstehenden Ausführungen beantragen wir Ihnen die Motion von Tabea Zimmermann Gibson, Luzian Franzini und
          Anastas Odermatt betreffend mehr Demokratie: Ermöglichung von elektronischen Unterschriftensammlungen (E-Collecting) für Volksbegehren auf kantonaler
          und kommunaler Ebene (Vorlage Nr. 3284.1 - 16686) sei nicht erheblich zu erklären.
        </p>
        <p>
          Ablauf: Am 29. September 2022 wurde der Vorgang traktandiert, jedoch aus Zeitgründen nicht behandelt. Am 27. Oktober 2022 wurde er erneut
          traktandiert, aber wiederum aus Zeitgründen nicht behandelt. Am 10. November 2022 erfolgte schliesslich die Nicht-Erheblicherklärung.
        </p>

        <p>
          <b>Geschäft im Kantonsrat: 3284 (<a href="https://kr-geschaefte.zug.ch/gast/geschaefte/2278">link</a>)</b>
        </p>
        <br />
        <p><b>Dokumente</b></p>
        <ul>
          <li>- Traktandiert für 29. September 2022 <a href="https://kr-geschaefte.zug.ch/dokumente/10910/3284-2-17079_e-Collecting.pdf">(download)</a></li>
          <li>- Einreichung Motion am 23.08.2021 <a href="https://kr-geschaefte.zug.ch/dokumente/9826/3284-1-16686_e-Collecting.pdf">(download)</a></li>
        </ul>
      </div>
      <!-- ZÜRICH -->
      <div *ngIf="cantonSelect == 'zh'">
        <p>
          Als E-Voting Pionierkanton, sah sich der Kanton bereits im Jahr 2009 mit einer Interpellation zum Thema E-Collecting konfrontiert. (24/2009 -
          Interpellation (Pilotprojekt e-collecting) ). Die fehlende Harmonisierung des Stimmregisters, eine noch wenig bekannte elektronische Signatur und die
          damalige E-Government Strategie und das Vote électronique auf Bundesebene führten dazu, dass E-Collecting nicht weiterverfolgt wurde. So dauerte 11
          Jahre, bis im Jahr 2019 eine Motion das Thema wieder auf die Agenda brachte (5/2019 Einführung e-Collecting, elektronische Unterschriftensammlung für
          Initiativen und Referenden im Internet oder auf mobilen Endgeräten). Auch Jahre später scheitert das Projekt am Fehlen einer elektronischen Identität
          und am Projekt „Vote électronique“, welches E-Collecting erst in einer dritten Projektphase vorsieht. Zudem hat der Kanton Zürich aus
          Ressourcengründen die Arbeiten an E-Collecting 2017 eingestellt. Das Nichtberücksichtigen der nachgelagerten E-Collectingprozesse, machen der Motion
          einen weiteren Strich durch die Rechnung. Hoffnung macht aber der Antrag an den RR vom 22.11.2023. Aktuell ist das Geschäft in der Kommission hänging.
        </p>
        <br />
        <p>
          <b
            >Geschäft im Kantonsrat: KR-Nr. 24/2009 (<a href="https://www.kantonsrat.zh.ch/geschaefte/geschaeft/?id=414b340956654e849c6ce73def7e3d6d">link</a
            >)</b
          >
        </p>
        <br />
        <p><b>Dokumente</b></p>
        <ul>
          <li>
            - 18.03.2009 / Antwort RR 24/2009 Pilotprojekt e-collecting.
            <a href="https://parlzhcdws.cmicloud.ch/parlzh5/cdws/Files/19b787823c7e43f19f7dbc4f218c7e53-332/1/pdf">(download)</a>
          </li>
          <li>
            - 18.03.2009 / Interpellation 24/2009 Pilotprojekt e-collecting.
            <a href="https://parlzhcdws.cmicloud.ch/parlzh5/cdws/Files/19b787823c7e43f19f7dbc4f218c7e53-332/1/pdf">(download)</a>
          </li>
        </ul>

        <br />
        <p>
          <b
            >Geschäft im Kantonsrat: KR-Nr. 5a/2019 (<a href="https://www.kantonsrat.zh.ch/geschaefte/geschaeft/?id=7ea3ad7713194104a4428b8a7cf85264">link</a
            >)</b
          >
        </p>
        <br />
        <p><b>Dokumente</b></p>
        <ul>
          <li>
            - 22.11.2023 / Antrag Regierungsrat / Vorlage 5a/2019 Einführung e-Collecting, elektronische Unterschriftensammlung für Initiativen und Referenden
            im Internet oder auf mobilen Endgeräten<a href="https://parlzhcdws.cmicloud.ch/parlzh5/cdws/Files/29d1effeceea45c5b4a2834a9f34ff8f-332/1/pdf"
              >(download)</a
            >
          </li>

          <li>
            - 29.11.2021 / Überweisung an Regierungsrat Abstimmungsprotokoll<a
              href="https://parlzhcdws.cmicloud.ch/parlzh5/cdws/Files/be87408bbf1c4338a45569a834d1be56-332/1/pdf"
              >(download)</a
            >
          </li>
          <li>
            - 29.11.2021 / Überweisung an Regierungsrat KR Teilprotokoll
            <a href="https://parlzhcdws.cmicloud.ch/parlzh5/cdws/Files/f64483a250f344f0a0a7dc159cc39bbf-332/6/pdf">(download)</a>
          </li>
          <li>
            - 10.04.2019 / Stellungsnahme Regierungsrat
            <a href="https://parlzhcdws.cmicloud.ch/parlzh5/cdws/Files/951e7d025681483ba633b8552d0565ee-332/1/pdf">(download)</a>
          </li>

          <li>
            - 14.01.2019 / Motion 5/2019 Einführung e-Collecting, elektronische Unterschriftensammlung für Initiativen und Referenden im Internet oder auf
            mobilen Endgeräten <a href="https://www.zh.ch/bin/zhweb/publish/regierungsratsbeschluss-unterlagen./2009/423/RRB-2009-0423.pdf">(download)</a>
          </li>
          <li>
            - Regierungsratsbeschluss Nr. 423/2009
            <a href="https://www.zh.ch/bin/zhweb/publish/regierungsratsbeschluss-unterlagen./2009/423/RRB-2009-0423.pdf">(download)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex grid grid-cols-1 md:grid-cols-2 mx-auto max-w-screen-xl py-2">
    <div *ngIf="cantonSelect == 'sh'">
      <app-textblock type="owlly" title="Ausblick" text="Der Regierungsrat behandelt nun die vom Parlament für erheblich erklärte Volksmotion."></app-textblock>
    </div>
  </div>

  <app-footer></app-footer>
</app-pagehero>
