<div class="shadow-xl pb-20" style="background: var(--owlly-linear-gradient)">

    
    <div class="container mx-auto max-w-screen-xl px-6 py-2 text-left mt-12">
        <h1 class="text-4xl md:text-6xl text-white font-bold">News</h1>
        <div class="underline mt-2"></div>
    </div>
    <div class="flex flex-row gap-6 px-6 py-4 overflow-x-scroll overflow-y-hidden scroll">
        
        <app-newscard
        imgName="News_SH 3.png"
        text="“Kanton Schaffhausen als Pionier: Erster Kanton mit vollständigem E-Collecting!” Amet ullamco magna aute quis sunt eiusmod quis. In velit laboris officia aliqua ut aliquip do velit deserunt incididunt quis dolore elit. Aliquip quis aliqua velit quis ut non occaecat ipsum est elit officia ea culpa eu. Mollit proident eu amet proident quis fugiat minim officia. Nostrud est Lorem sit cupidatat ea excepteur mollit."
        [showButton]="true"
        buttonText="mehr"
        ></app-newscard>
        <app-newscard
        imgName="News_SH 3.png"
        text="“Kanton Schaffhausen als Pionier: Erster Kanton mit vollständigem E-Collecting!” Amet ullamco magna aute quis sunt eiusmod quis. In velit laboris officia aliqua ut aliquip do velit deserunt incididunt quis dolore elit. Aliquip quis aliqua velit quis ut non occaecat ipsum est elit officia ea culpa eu. Mollit proident eu amet proident quis fugiat minim officia. Nostrud est Lorem sit cupidatat ea excepteur mollit."
        [showButton]="true"
        buttonText="mehr"
        ></app-newscard>
        <app-newscard
        imgName="News_SH 3.png"
        text="“Kanton Schaffhausen als Pionier: Erster Kanton mit vollständigem E-Collecting!” Amet ullamco magna aute quis sunt eiusmod quis. In velit laboris officia aliqua ut aliquip do velit deserunt incididunt quis dolore elit. Aliquip quis aliqua velit quis ut non occaecat ipsum est elit officia ea culpa eu. Mollit proident eu amet proident quis fugiat minim officia. Nostrud est Lorem sit cupidatat ea excepteur mollit."
        [showButton]="true"
        buttonText="mehr"
        ></app-newscard>
        
        <app-newscard
        imgName="News_SH 3.png"
        text="“Kanton Schaffhausen als Pionier: Erster Kanton mit vollständigem E-Collecting!” Amet ullamco magna aute quis sunt eiusmod quis. In velit laboris officia aliqua ut aliquip do velit deserunt incididunt quis dolore elit. Aliquip quis aliqua velit quis ut non occaecat ipsum est elit officia ea culpa eu. Mollit proident eu amet proident quis fugiat minim officia. Nostrud est Lorem sit cupidatat ea excepteur mollit."
        [showButton]="true"
        buttonText="mehr"
        ></app-newscard>

        <app-newscard
        imgName="News_SH 3.png"
        text="“Kanton Schaffhausen als Pionier: Erster Kanton mit vollständigem E-Collecting!” Amet ullamco magna aute quis sunt eiusmod quis. In velit laboris officia aliqua ut aliquip do velit deserunt incididunt quis dolore elit. Aliquip quis aliqua velit quis ut non occaecat ipsum est elit officia ea culpa eu. Mollit proident eu amet proident quis fugiat minim officia. Nostrud est Lorem sit cupidatat ea excepteur mollit."
        [showButton]="true"
        buttonText="mehr"
        ></app-newscard>
    
    </div>



</div>
