<div class="fixed bg-gray-200 dark:bg-black transition-all z-40" id="mobileNav" >
    <div class="absolute top-6 right-6">
   <a (click)="closeMobileNav()" class="text-2xl"><fa-icon [icon]=faTimesCircle></fa-icon></a>
    </div>
    <div class="text-center" *ngIf="type =='campaigner'">
        <h2 class="font-bold text-2xl p-6">Dashboard <span style="color: var(--color-primary)">Campaigner</span></h2>
    </div>
    <div class="text-center" *ngIf="type =='administration'">
        <h2 class="font-bold text-2xl p-6">Dashboard <span style="color: var(--color-secondary)">Verwaltung</span></h2>
    </div>
    <div class="grid justify-items-auto grid-cols-3 text-lg font-light p-6 text-center">
            <fa-icon [icon]="faUserCircle" class=""></fa-icon>
            <a class="col-span-2" href="/admin/profile"><p>Benutzerprofil bearbeiten</p></a>
        </div>
        <div class="absolute w-full py-2 bottom-0 bg-yellow-400 text-center font-light text-lg">
            <a href="/logout">Abmelden</a>
        </div>
</div>

<app-dashboard-header></app-dashboard-header>

<div class="grid lg:grid-cols-12 grid-cols-1">
<div class="sticky top-0 lg:col-span-2 hidden lg:block bg-gray-200" id="sidebar">
    <h2 *ngIf="type == 'campaigner'" class="font-bold text-2xl p-6">Dashboard <span style="color: var(--color-primary)">Campaigner</span></h2>
    <h2 *ngIf="type == 'administration'" class="font-bold text-2xl p-6">Dashboard <span style="color: var(--color-secondary)">Verwaltung</span></h2>
    <div class="grid grid-cols-6 text-lg font-light p-6 hover:text-gray-500 transition">
        <fa-icon [icon]="faUserCircle" class="col-span-1"></fa-icon>
        <a class="col-span-5" href="/admin/profile"><p>Benutzerprofil bearbeiten</p></a>
    </div>
    <div class="absolute w-full py-2 bottom-0 bg-yellow-400 text-center font-light text-lg">
        <a href="/logout">Abmelden</a>
    </div>
</div>

<div class="lg:col-span-10 p-6 col-start-1 lg:col-start-3 row-start-1 transition-all">

<!-- Dashboard Campaigner -->    
<div *ngIf="type == 'campaigner'" class="grid grid-cols-1 lg:grid-cols-12 gap-6 dashboard">
    <select
          name="ebene"
          id="level"
          class=" col-span-1 lg:col-span-12 text-2xl lg:text-4xl font-bold w-full p-3 mt-2 focus:outline-none focus:bg-gray-200 dark:focus:bg-gray-600 dark:text-black dark:bg-gray-700 bg-gray-100"
        >
          <option value="rente" class="text-2xl font-light">Renteninitiative</option>
          <option value="velo" class="text-2xl font-light">Velorouten Initiative</option>
        </select>

    <app-dashboard-card type="owlly" title="Unterschriften letzte 30 Tage" class="col-span-1 lg:col-span-3">
        <div class="flex items-center justify-items-center grid">
    <div>
        <p class="text-center text-8xl font-bold">420</p>
    </div>
    </div>
    </app-dashboard-card>
    <app-dashboard-card type="owlly" title="Unterschriften" class=" col-span-1 lg:col-span-9 row-span-2">
        <h2 class="font-light text-lg text-gray-400">alle Initiativen</h2>
        <canvas id="signatures"></canvas>
    </app-dashboard-card>
    <app-dashboard-card type="owlly" title="Unterschriften heute" class="lg:col-span-3">
        <div class="flex items-center justify-items-center grid">
            <div>
                <p class="text-center text-8xl font-bold">69</p>
            </div>
            </div>
        </app-dashboard-card>
    
 
    <app-dashboard-card
    type="owlly"
    title="Neue Kampagne starten"
    class="lg:col-span-3"
    [showButton]="true"
    buttonText="Starten"
    link="/create"
    
    >
    </app-dashboard-card>
        <app-dashboard-card
        type="owlly"
        class="lg:col-span-9 row-span-2"
        title="Unterschriften nach Gemeinden "
        >
    <div class="customScroll overflow-y-auto h-96">
        <div class="table w-full h-full font-light text-xl">
            <div class="table-row-group">
              <div class="table-row font-bold">
                <div class="table-cell">Gemeinde</div>
                <div class="table-cell">Total Unterschriften</div>
                <div class="table-cell "></div>
              </div>
              <div class="table-row p-4 hover:bg-gray-200 transition-all">
                <div class="table-cell py-4">Schaffhausen</div>
                <div class="table-cell py-4">1209</div>
                <div class="table-cell py-4 text-right pr-6"> <a href="#"><app-button [small]="true">Mehr</app-button></a></div>
              </div>

              <div class="table-row p-4 hover:bg-gray-200 transition-all">
                <div class="table-cell py-4">Schaffhausen</div>
                <div class="table-cell py-4">1209</div>
                <div class="table-cell py-4 text-right pr-6"> <a href="#"><app-button [small]="true">Mehr</app-button></a></div>
              </div>

              <div class="table-row p-4 hover:bg-gray-200 transition-all">
                <div class="table-cell py-4">Schaffhausen</div>
                <div class="table-cell py-4">1209</div>
                <div class="table-cell py-4 text-right pr-6"> <a href="#"><app-button [small]="true">Mehr</app-button></a></div>
              </div>

              <div class="table-row p-4 hover:bg-gray-200 transition-all">
                <div class="table-cell py-4">Schaffhausen</div>
                <div class="table-cell py-4">1209</div>
                <div class="table-cell py-4 text-right pr-6"> <a href="#"><app-button [small]="true">Mehr</app-button></a></div>
              </div>

              <div class="table-row p-4 hover:bg-gray-200 transition-all">
                <div class="table-cell py-4">Schaffhausen</div>
                <div class="table-cell py-4">1209</div>
                <div class="table-cell py-4 text-right pr-6"> <a href="#"><app-button [small]="true">Mehr</app-button></a></div>
              </div>

              <div class="table-row p-4 hover:bg-gray-200 transition-all">
                <div class="table-cell py-4">Schaffhausen</div>
                <div class="table-cell py-4">1209</div>
                <div class="table-cell py-4 text-right pr-6"> <a href="#"><app-button [small]="true">Mehr</app-button></a></div>
              </div>

              <div class="table-row p-4 hover:bg-gray-200 transition-all">
                <div class="table-cell py-4">Schaffhausen</div>
                <div class="table-cell py-4">1209</div>
                <div class="table-cell py-4 text-right pr-6"> <a href="#"><app-button [small]="true">Mehr</app-button></a></div>
              </div>
            </div>
          </div>
        </div>

        </app-dashboard-card>
        <app-dashboard-card
        type="owlly"
        class="lg:col-span-3"
        [gradient]="true"
        title="Unterschriften einreichen"
        [showButton]="true"
        buttonText="Einreichen"
        link="/signatures"
        >
    
            </app-dashboard-card>
</div>

<!-- Dashboard Verwaltung -->
<div *ngIf="type == 'administration'" class="grid grid-cols-1 lg:grid-cols-12 gap-6 dashboard">
        <app-dashboard-card
        type="owlly"
        title="Kampagnen Inbox"
        class="lg:col-span-12"
        
        >
        </app-dashboard-card>

        <app-dashboard-card
        type="owlly"
        title="Unterschriften verifizieren"
        class="lg:col-span-3"
        [showButton]="true"
        buttonText="Starten"
        link="/create"
        >
        </app-dashboard-card>

        <app-dashboard-card
        type="owlly"
        title="Offene Kampagnen"
        class="lg:col-span-9"
        [showButton]="true"
        buttonText="Starten"
        link="/create"
        >
        </app-dashboard-card>
</div>

</div>
<!-- <app-footer class="lg:col-span-12 col-span-1"></app-footer> -->
</div>