<app-header></app-header>
<main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <!-- Replace with your content -->
    <div class="bg-white dark:bg-black">
      <app-textblock type="owlly" title="Dashboard" subtitle="Hallo Campaigner! Verwalte hier deine Kampagnen"></app-textblock>
      <app-button (click)="logout()">logout</app-button>

      <div class="flex grid grid-cols-1 md:grid-cols-2 mx-auto max-w-screen-xl px-6 py-4 pt-16 gap-6">
        <app-card
          class="flex-1"
          type="owlly"
          title="Benutzerprofil"
          [showButton]="true"
          text="Bearbeite hier dein Profil."
          buttonText="Starten"
          link="/admin/profile"
        >
        </app-card>

        <app-card
          class="flex-1"
          type="owlly"
          title="Kampagne starten"
          [showButton]="true"
          text="Erstelle eine neue Kampagne."
          buttonText="Starten"
          link="/admin/create"
        >
        </app-card>

        <app-card
          class="flex-1"
          type="owlly"
          title="Kampagnen Übersicht"
          [showButton]="true"
          text="Du hast 2 Campagnen"
          buttonText="Zeigen"
          link="/admin/campaign"
        >
        </app-card>

        <app-card
          class="flex-1"
          type="owlly"
          title="Unterschriften"
          [showButton]="true"
          text="Du hast 42 Unterschriften"
          buttonText="Zeigen"
          link="/admin/certify-request"
        >
        </app-card>
      </div>
    </div>
    <!-- /End replace -->
  </div>
</main>

<app-footer></app-footer>
