<div class="m-0 p-0 w-full">
    <!-- Left diamonds -->
<div class="absolute -left-96 -top-20 opacity-50 md:opacity-100">
    <svg width="900" height="900" viewBox="0 0 157 196" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 76.0242L81.044 0L157 76.0242L81.044 196L0 76.0242Z" class="{{type}}-yellow"/>
        </svg>
    </div>
<div class="absolute -left-96 -top-12 opacity-50 md:opacity-100">
<svg width="1100" height="1100" viewBox="0 0 157 196" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 76.0242L81.044 0L157 76.0242L81.044 196L0 76.0242Z" class="{{type}}-blue"/>
    </svg>
</div>

<!-- right diamonds -->
<div class="absolute -right-80 -top-40 opacity-50 md:opacity-100">
        <svg width="1100" height="1100" viewBox="0 0 157 196" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 76.0242L81.044 0L157 76.0242L81.044 196L0 76.0242Z" class="{{type}}-yellow"/>
            </svg>
        </div>
<div class="absolute -right-96 top-4 opacity-50 md:opacity-100">
        <svg width="900" height="900" viewBox="0 0 157 196" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 76.0242L81.044 0L157 76.0242L81.044 196L0 76.0242Z" class="{{type}}-blue"/>
            </svg>
        </div>
    

</div>    