<app-header></app-header>

<div class="mx-auto max-w-screen-xl p-6">
  <form [formGroup]="createForm" (ngSubmit)="sendInitiative()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="relative shadow-xl bg-gray-50 dark:bg-gray-800 rounded h-full w-full transition" style="min-height: 300px">
        <div class="underline rounded-t"></div>      
        <div class="px-4 pt-4">
          <h1 class="text-2xl md:text-4xl font-bold dark:text-white">Wo findet dein Vorhaben statt?</h1>
        </div>
        <div class="px-4">
          <p class="text-xl font-light dark:text-white"></p>
        </div>
        <div class="absolute bottom-4 px-4 w-full">
          <select
          name="ebene"
          formControlName="ruleValue"
          id="level"
          class="text-2xl font-bold w-full p-3 mt-2 focus:outline-none focus:bg-gray-200 bg-gray-100"
        >
          <option value="national" class="text-2xl font-light">National</option>
          <option value="SH" class="text-2xl font-light">Schaffhausen</option>
        </select>
        </div>
      </div>
      
      <div class="relative shadow-xl bg-gray-50 dark:bg-gray-800 rounded h-full w-full transition" style="min-height: 300px">
        <div class="underline rounded-t"></div>      
        <div class="px-4 pt-4">
          <h1 class="text-2xl md:text-4xl font-bold dark:text-white">Worum handelt es sich bei deinem Begehren?</h1>
        </div>
        <div class="px-4">
          <p class="text-xl font-light dark:text-white"></p>
        </div>
        <div class="absolute bottom-4 px-4 w-full">
          <select
          name="begehren"
          formControlName="type"
          id="begehren"
          class="text-2xl font-bold w-full p-3 mt-2 focus:outline-none focus:bg-gray-200 bg-gray-100"
        >
        <option value="initiative" class="text-2xl font-light">Initiative</option>
        <option value="referendum" class="text-2xl font-light">Referendum</option>
        <option value="volksmotion" class="text-2xl font-light">Volksmotion</option>
        </select>
        </div>
      </div>

      <div class="relative col-span-2 shadow-xl bg-gray-50 dark:bg-gray-800 rounded h-full w-full transition" style="min-height: 300px">
        <div class="underline rounded-t"></div>      
        <div class="px-4 pt-4">
          <h1 class="text-2xl md:text-4xl font-bold dark:text-white">Wie lautet der Titel des Begehrens?</h1>
        </div>
        <div class="px-4">
          <p class="text-xl font-light dark:text-white"></p>
        </div>
        <div class="absolute bottom-4 px-4 w-full">
          <input
            id="title"
            type="text"
            name="title"
            formControlName="title"
            class="text-2xl font-bold w-full p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100"
            required
            placeholder="Mein Begehren"
          />
        </div>
      </div>

      <div class="relative col-span-2 shadow-xl bg-gray-50 dark:bg-gray-800 rounded h-full w-full transition" style="min-height: 300px">
        <div class="underline rounded-t"></div>      
        <div class="px-4 pt-4">
          <h1 class="text-2xl md:text-4xl font-bold dark:text-white">Schreibe hier den vollständigen Wortlaut deines Begehrens:</h1>
        </div>
        <div class="px-4">
          <p class="text-xl font-light dark:text-white"></p>
        </div>
        <div class="p-4 w-full">
          <textarea
      class="text-lg font-light w-full  p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100"
      name="text"
      id="text"
      formControlname="text"
      cols="30"
      formControlName="title"
      rows="10"
      placeholder="Mein Text..."
    ></textarea>
        </div>
      </div>

      <div class="relative col-span-2 shadow-xl bg-gray-50 dark:bg-gray-800 rounded h-full w-full transition" style="min-height: 300px">
        <div class="underline rounded-t"></div>      
        <div class="px-4 pt-4">
          <h1 class="text-2xl md:text-4xl font-bold dark:text-white">Nenne bis zu 4 Ziele deines Begehrens (optional):</h1>
        </div>
        <div class="px-4">
          <p class="text-xl font-light dark:text-white">Mit kurz und bündig definierten Zielen hilfst du deinem Zielpublikum, sich schneller ein Bild von deinem Begehren zu machen.</p>
        </div>
        <div class="p-4 px-4 w-full">
    <input *ngIf="goalAmount > 0"
      id="goals"
      type="text"
      name="goals"
      placeholder="Ziel 1"
      formControlName="goals1"
      class="text-2xl font-light w-full p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100"
    />
    <input *ngIf="goalAmount > 1"
      id="goals"
      type="text"
      name="goals"
      formControlName="goals2"
      placeholder="Ziel 2"
      class="text-2xl font-light w-full p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100"
    />
    <input *ngIf="goalAmount > 2"
      id="goals"
      type="text"
      name="goals"
      placeholder="Ziel 3"
      formControlName="goals3"
      class="text-2xl font-light w-full p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100"
    />
    <input *ngIf="goalAmount > 3"
      id="goals"
      type="text"
      name="goals"
      placeholder="Ziel 4"
      formControlName="goals4"
      class="text-2xl font-light w-full p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100"
    />
    <div *ngIf="goalAmount < 4" class="flex justify-center mx-auto">
        <button
        (click)="addGoal()"
        type="button"
        name="scroll-Left"
        class="border-none outline-none z-20 text-black rounded-full bg-yellow-400 h-12 w-12 flex items-center justify-center"
      >
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
    </div>
        </div>
      </div>

      <div *ngIf="ebene == 'national' && begehren=='initiative'" class="relative shadow-xl bg-gray-50 dark:bg-gray-800 rounded h-full w-full transition" style="min-height: 300px">
        <div class="underline rounded-t"></div>      
        <div class="px-4 pt-4">
          <h1 class="text-2xl md:text-4xl font-bold dark:text-white">Wann wurde deine Initiative veröffentlicht?</h1>
        </div>
        <div class="px-4">
          <p class="text-xl font-light dark:text-white"></p>
        </div>
        <div class="absolute bottom-4 px-4 w-full">
          <input
      id="date"
      type="date"
      name="date"
      formControlName="published"
      class="text-2xl font-bold w-full p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100"
      required
      value="2020-02-03"
    />
        </div>
      </div>

      <div *ngIf="ebene == 'national' && begehren=='referendum' " class="relative shadow-xl bg-gray-50 dark:bg-gray-800 rounded h-full w-full transition" style="min-height: 300px">
        <div class="underline rounded-t"></div>      
        <div class="px-4 pt-4">
          <h1 class="text-2xl md:text-4xl font-bold dark:text-white">Wann ist die Schlussabstimmung in der Bundesversammlung?</h1>
        </div>
        <div class="px-4">
          <p class="text-xl font-light dark:text-white"></p>
        </div>
        <div class="absolute bottom-4 px-4 w-full">
          <input
      id="date"
      type="date"
      name="date"
      formControlName="published"
      class="text-2xl font-bold w-full p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100"
      required
      value="2020-02-03"
    />
        </div>
      </div>

      <div *ngIf="begehren=='initiative'" class="relative shadow-xl bg-gray-50 dark:bg-gray-800 rounded h-full w-full transition" style="min-height: 300px">
        <div class="underline rounded-t"></div>      
        <div class="px-4 pt-4">
          <h1 class="text-2xl md:text-4xl font-bold dark:text-white">Zum Schluss brauchen wir noch Name und Adresse des Urhebers der Initiative (Initiativkomitee)</h1>
        </div>
        <div class="px-4">
          <p class="text-xl font-light dark:text-white"></p>
        </div>
        <div class="p-4 px-4 w-full">
          <textarea
      class="text-xl font-light w-full p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100"
      name="text"
      id="text"
      formControlname="author"
      cols="30"
      formControlName="title"
      rows="10"
      placeholder="Meine Adresse..."
    ></textarea>
        </div>
      </div>

      <app-textblock
  type="owlly"
  title="Nur noch absenden..."
  class="col-span-2"
  >
  <h2 class="font-light text-2xl dark:text-white">Überprüfe nochmals kurz deine Angaben und drücke anschliessend auf den unteren Button 😊</h2>
  <div class="text-center mx-auto p-6">
    <app-button type="submit" [disable]="createForm.invalid">Begehren senden</app-button>
  </div>
  </app-textblock>
    </div>
    
  </form>

  

</div>

<app-footer></app-footer>

<!-- <div class="flex absolute w-full bottom-2 md:top-1/2 md:bottom-1/2 justify-between p-4">
  
  <button (click)="scrollLeft()" class="rounded-full bg-yellow-400 h-12 w-12 flex items-center justify-center"><fa-icon [icon]="faAngleLeft"></fa-icon></button>
  <button (click)="scrollRight()" class="rounded-full bg-yellow-400 h-12 w-12 flex items-center justify-center">
    <fa-icon [icon]="faAngleRight"></fa-icon>
  </button>
</div>

<div #horizontalScroll id="horizontalDiv" class="horizontalDiv flex overflow-auto text-center scroll">
  
  <div class="h-full w-full flex-none p-6">
    <h1 class="text-4xl md:text-6xl font-bold">Der Start deiner digitalen Kampagne</h1>
    <h2 class="text-2xl font-light">Um dein Vorhaben digital zu erfassen brauchen wir folgende Informationen von dir:</h2>
    <app-textblock type="owlly"></app-textblock>
    <div class="-mt-12">
      <ul>
        <li class="text-2xl font-light">Art des Begehrens</li>
        <li class="text-2xl font-light">Titel</li>
        <li class="text-2xl font-light">Vollständiger Text des Begehrens</li>
        <li class="text-2xl font-light">4 Ziele des Begehrens</li>
        <li class="text-2xl font-light">Deine Email</li>
        <li class="text-2xl font-light">Informationen über das Komitee</li>
      </ul>
      <p class="text-2xl font-bold pt-6">Klicke auf den Pfeil nach rechts um fortzufahren</p>
    </div>
  </div>

  <div class="h-full w-full flex-none text-center pt-40 px-6 justify-center">
    <h1 class="text-4xl md:text-6xl font-bold pb-6">Wo findet dein Vorhaben statt?</h1>
    <select
      name="ebene"
      formControlName="ruleValue"
      id="level"
      class="text-2xl font-bold justify-center md:w-3/4 w-full p-3 mt-2 focus:outline-none focus:bg-gray-200 bg-gray-100 focus:shadow-inner"
    >
      <option value="national" class="text-2xl font-light">National</option>
      <option value="SH" class="text-2xl font-light">Schaffhausen</option>
    </select>
  </div>

  <div class="h-full w-full flex-none text-center pt-40 px-6 justify-center">
    <h1 class="text-4xl md:text-6xl font-bold pb-6">Worum handelt es sich bei deinem Begehren?</h1>
    <select
      name="begehren"
      formControlName="type"
      id="begehren"
      class="text-2xl font-bold justify-center md:w-3/4 w-full p-3 mt-2 focus:outline-none focus:bg-gray-200 bg-gray-100 focus:shadow-inner"
    >
      <option value="initiative" class="text-2xl font-light">Initiative</option>
      <option value="referendum" class="text-2xl font-light">Referendum</option>
      <option value="volksmotion" class="text-2xl font-light">Volksmotion</option>
    </select>
  </div>

  <div class="h-full w-full flex-none text-center pt-40 px-6 justify-center">
    <h1 class="text-4xl md:text-6xl font-bold pb-6">Wie lautet der Titel des Begehrens?</h1>
    <input
      id="title"
      type="text"
      name="title"
      formControlName="title"
      class="text-2xl font-bold justify-center md:w-3/4 w-full p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100 focus:shadow-inner"
      required
      placeholder="Mein Begehren"
    />
  </div>

  <div class="h-full w-full flex-none text-center pt-40 px-6">
    <h1 class="text-4xl md:text-6xl font-bold pb-6">Schreibe hier den vollständigen Wortlaut deines Begehrens:</h1>
    <textarea
      class="text-2xl font-light md:w-3/4 w-full p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100 focus:shadow-inner"
      name="text"
      id="text"
      formControlname="text"
      cols="30"
      formControlName="title"
      rows="10"
      placeholder="Mein Text..."
    ></textarea>
  </div>

  <div class="h-full w-full flex-none text-center pt-40 px-6 justify-center">
    <h1 class="text-4xl md:text-6xl font-bold pb-6">Nenne bis zu 4 Ziele deines Begehrens:</h1>
    <input
      id="goals"
      type="text"
      name="goals"
      formControlName="goals1"
      class="text-2xl font-bold justify-center md:w-3/4 w-full p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100 focus:shadow-inner"
    />
    <input
      id="goals"
      type="text"
      name="goals"
      formControlName="goals2"
      class="text-2xl font-bold justify-center md:w-3/4 w-full p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100 focus:shadow-inner"
    />
    <input
      id="goals"
      type="text"
      name="goals"
      formControlName="goals3"
      class="text-2xl font-bold justify-center md:w-3/4 w-full p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100 focus:shadow-inner"
    />
    <input
      id="goals"
      type="text"
      name="goals"
      formControlName="goals4"
      class="text-2xl font-bold justify-center md:w-3/4 w-full p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100 focus:shadow-inner"
    />
  </div>

  
  <div class="h-full w-full flex-none text-center pt-40 px-6 justify-center">
    <h1 class="text-4xl md:text-6xl font-bold pb-6">Wann wurde deine Initiative veröffentlicht?</h1>
    <input
      id="date"
      type="date"
      name="date"
      formControlName="published"
      class="text-2xl font-bold justify-center md:w-3/4 w-full p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100 focus:shadow-inner"
      required
      value="2020-02-03"
    />
  </div>

  
  <div class="h-full w-full flex-none text-center pt-40 px-6 justify-center">
    <h1 class="text-4xl md:text-6xl font-bold pb-6">Wann ist die Schlussabstimmung in der Bundesversammlung?</h1>
    <input
      id="date"
      type="date"
      name="date"
      formControlName="published"
      class="text-2xl font-bold justify-center md:w-3/4 w-full p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100 focus:shadow-inner"
      required
      value="2020-02-03"
    />
  </div>

  <div class="h-full w-full flex-none text-center pt-40 px-6">
    <h1 class="text-4xl md:text-6xl font-bold pb-6">Zum Schluss brauchen wir noch Name und Adresse des Urhebers der Initiative (Initiativkomitee)</h1>
    <textarea
      class="text-2xl font-light md:w-3/4 w-full p-3 mt-2 appearance-none focus:outline-none focus:bg-gray-200 bg-gray-100 focus:shadow-inner"
      name="text"
      id="text"
      formControlname="author"
      cols="30"
      formControlName="title"
      rows="10"
      placeholder="Meine Adresse..."
    ></textarea>
  </div>

  <div class="h-full w-full flex-none p-6">
    <h1 class="text-4xl md:text-6xl font-bold">Nur noch einschicken...</h1>
    <h2 class="text-2xl font-light">Wenn du an diesem Punkt angelangt bist, musst du nur noch den Knopf unten drücken um dein Begehren einzusenden 😊</h2>
    <app-textblock type="owlly"></app-textblock>
    <div class="-mt-12">
      <app-button (click)="sendInitiative()">Begehren senden</app-button>
    </div>
  </div>
</div> -->
