<app-header></app-header>

<app-pagehero
imgName="fenster.jpg"
type="plain"
title="Über uns"
subtitle="Do culpa culpa mollit Lorem. Nulla mollit commodo eu consectetur laboris est tempor amet. Sint in ea Lorem dolore veniam amet commodo sunt. Ullamco amet officia duis pariatur do ea nisi enim ut in est aliqua eu elit. Eiusmod duis esse commodo quis culpa id qui ex consequat magna. Adipisicing aute tempor exercitation exercitation consectetur consequat excepteur. Nostrud labore enim id dolor nostrud laboris eiusmod nulla."
>

<app-textblock
title="Mission"
type="owlly"
subtitle="“Enabling digital societies” - Die Einführung eines sicheren E-Collectings in
der Schweiz zur Entfaltung aller Potentiale."
></app-textblock>

<app-textblock
title="Team"
type="owlly"
>

<div class="grid grid-cols-1 md:grid-cols-3 gap-20">

<div class="text-center">
    <img src="../../../assets/team/fabian.png" alt="" width="70%" class="rounded-full mx-auto">
    <p class="text-3xl font-bold pt-6">Fabian Bolli</p>
    <p class="text-lg font-light pt-4">Occaecat duis Lorem occaecat quis labore incididunt consequat incididunt amet pariatur deserunt tempor minim. Ipsum occaecat duis dolore nisi mollit proident esse est duis. Duis deserunt sunt veniam dolore aliqua ullamco proident exercitation fugiat veniam aliqua consequat magna. Ex commodo ipsum mollit aliqua do cillum deserunt velit ex.</p>
    <a href="https://www.linkedin.com/in/fabian-bolli-91967b163/"><fa-icon [icon]="faLink"></fa-icon></a>
</div>

<div class="text-center">
    <img src="../../../assets/team/david.jpg" alt="" width="70%" class="rounded-full mx-auto">
    <p class="text-3xl font-bold pt-6">David Dal Busco</p>
    <p class="text-lg font-light pt-4">Occaecat duis Lorem occaecat quis labore incididunt consequat incididunt amet pariatur deserunt tempor minim. Ipsum occaecat duis dolore nisi mollit proident esse est duis. Duis deserunt sunt veniam dolore aliqua ullamco proident exercitation fugiat veniam aliqua consequat magna. Ex commodo ipsum mollit aliqua do cillum deserunt velit ex.</p>
    <a href="https://www.linkedin.com/in/david-dal-busco/"><fa-icon [icon]="faLink"></fa-icon></a>
</div>

<div class="text-center">
    <img src="../../../assets/team/jonathan.png" alt="" width="70%" class="rounded-full mx-auto">
    <p class="text-3xl font-bold pt-6">Jonathan Dotzler</p>
    <p class="text-lg font-light pt-4">Occaecat duis Lorem occaecat quis labore incididunt consequat incididunt amet pariatur deserunt tempor minim. Ipsum occaecat duis dolore nisi mollit proident esse est duis. Duis deserunt sunt veniam dolore aliqua ullamco proident exercitation fugiat veniam aliqua consequat magna. Ex commodo ipsum mollit aliqua do cillum deserunt velit ex.</p>
    <a href="https://www.linkedin.com/in/jonathan-dotzler/"><fa-icon [icon]="faLink"></fa-icon></a>
</div>

<div class="text-center">
    <img src="../../../assets/team/sandro.jpg" alt="" width="70%" class="rounded-full mx-auto">
    <p class="text-3xl font-bold pt-6">Sandro Scalco</p>
    <p class="text-lg font-light pt-4">Occaecat duis Lorem occaecat quis labore incididunt consequat incididunt amet pariatur deserunt tempor minim. Ipsum occaecat duis dolore nisi mollit proident esse est duis. Duis deserunt sunt veniam dolore aliqua ullamco proident exercitation fugiat veniam aliqua consequat magna. Ex commodo ipsum mollit aliqua do cillum deserunt velit ex.</p>
    <a href="https://www.linkedin.com/in/sandroscalco/"><fa-icon [icon]="faLink"></fa-icon></a>
</div>

<div class="text-center">
    <img src="../../../assets/team/manu.png" alt="" width="70%" class="rounded-full mx-auto">
    <p class="text-3xl font-bold pt-6">Manuel Stamm</p>
    <p class="text-lg font-light pt-4">Occaecat duis Lorem occaecat quis labore incididunt consequat incididunt amet pariatur deserunt tempor minim. Ipsum occaecat duis dolore nisi mollit proident esse est duis. Duis deserunt sunt veniam dolore aliqua ullamco proident exercitation fugiat veniam aliqua consequat magna. Ex commodo ipsum mollit aliqua do cillum deserunt velit ex.</p>
    <a href="https://www.linkedin.com/in/manuel-stamm/"><fa-icon [icon]="faLink"></fa-icon></a>
</div>

</div>

</app-textblock>

<app-textblock
title="Mehr"
type="owlly"
subtitle="Unsere Data Policy"
[showButton]="true"
buttonText="mehr"
></app-textblock>

<app-footer></app-footer>
</app-pagehero>